<!-- <div id="bushido">
  <h4>Need Hosting ?</h4>
  <div class="text">
    Use <a href="http://bushi.do">Bushi.do's</a> free one-click install to host Locomotive
  </div>
  <div class="button">
    <a href="http://bushi.do?url=">Host now</a>
  </div>
</div> -->