+font-face("ProximaNova-Light", font-files("/fonts/ProximaNova-Light.otf"))
+font-face("ProximaNova-Regular", font-files("/fonts/ProximaNova-Regular.otf"))
+font-face("ProximaNova-Sbold", font-files("/fonts/ProximaNova-Sbold.otf"))
+font-face("OpenSans-Bold", font-files("/fonts/OpenSans-Bold.ttf"))
+font-face("OpenSans-Regular", font-files("/fonts/OpenSans-Regular.ttf"))
+font-face("OpenSans-Italic", font-files("/fonts/OpenSans-Italic.ttf"))
+font-face("OpenSans-Semibold", font-files("/fonts/OpenSans-Semibold.ttf"))

=proximanova-light
  font-family: ProximaNova-Light
=proximanova-regular
  font-family: ProximaNova-Regular
=proximanova-semi-bold
  font-family: ProximaNova-Sbold
=open-sans-regular
  font-family: OpenSans-Regular
=open-sans-bold
  font-family: OpenSans-Bold
=open-sans-italic
  font-family: OpenSans-Italic
=open-sans-semi-bold
  font-family: OpenSans-Semibold

