=futura-lt
  font-family: 'FuturaLT', 'Trebuchet MS', Tahoma, sans-serif
=proximanova-light
  font-family: ProximaNova-Light
  font-style: normal
  font-weight: 300
=proximanova-regular
  font-family: ProximaNova-Regular
=proximanova-semi-bold
  font-family: ProximaNova-Sbold
=open-sans-regular
  font-family: OpenSans-Regular
=open-sans-bold
  font-family: OpenSans-Bold
=open-sans-italic
  font-family: OpenSans-Italic
=open-sans-semi-bold
  font-family: OpenSans-Semibold
=creampuff
  font-family: Creampuff, ProximaNova-Sbold
=bebas
  font-family: Bebas, 'Helvetica'



