{% extends 'parent' %}

{% block page_inner %}

<p><a href="http://bushi.do">Bushido</a> is Locomotive's official hosting platform. Get Locomotive up and running instantly with Bushido - no forms or fields, just Locomotive.
  
  <a href='http://bushi.do/apps/new?envs={"BUSHIDO_METRICS_TOKEN": "3c247258174b97e8ba60d19835def5cd"}&repo=https://github.com/locomotivecms/engine.git' title='host now'>Launch Locomotive Now!</a></p>

<p>Focus on what makes you different - your design and content. Let Bushido handle the rest!</p>


{% endblock %}

