{% extends parent %}

{% block page_inner %}

<p class="description">
  This way of installing Locomotive is recommended when you want to add new features, correct bugs or see how Locomotive works internally.
</p>

<p class="step"><em>1.</em> Get source code from github.</p>
<pre class="shell"><code class="shell">git clone git://github.com/locomotivecms/engine.git locomotive
cd locomotive</code></pre>

<p class="step"><em>2.</em> Install gems.</p>
<pre class="shell"><code class="shell">bundle install</code></pre>

<p class="step"><em>3.</em> Edit the Locomotive settings.</p>
<pre class="shell"><code class="shell">mate config/initializers/locomotive.rb</code></pre>
<p>Note: If you run Locomotive in local and with the multi-sites mode on, do not forget to update your /etc/hosts file accordingly.</p>
<p>By default, Locomotive uses Amazon S3 in production. To change it, modify the carrierwave initialization file.</p>
<pre class="shell"><code class="shell">mate config/initializers/carrierwave.rb</code></pre>

<p class="step"><em>4.</em> You also may want to change your mongodb connection settings.</p>
<pre class="shell"><code class="shell">mate config/mongoid.yml</code></pre>

<p class="step"><em>5.</em> Run the application server.</p>
<pre class="shell"><code class="shell">bundle exec unicorn_rails</code></pre>

<p class="step"><em>6.</em> Open your browser.</p>
<pre class="shell"><code class="shell">open http://localhost:8080/admin</code></pre>

<p class="step"><em>7.</em> Follow the instructions in the browser to create your first account and site.</p>

<p class="step"><em>8.</em> (<b>ONLY IN PRODUCTION</b>) Push the assets used by the Locomotive back-office to Amazon S3 for better performances.(<a href="https://github.com/railsjedi/jammit-s3">Jammit-S3</a>).</p>
<pre class="shell"><code class="shell">export S3_KEY_ID=&lt;your s3 key id&gt;<br/>export S3_SECRET_KEY=&lt;your s3 secret key&gt;<br/>export S3_BUCKET=&lt;your s3 bucket name&gt;</code></pre>
<pre class="shell"><code class="shell">jammit-s3 --force</code></pre>
<p>If you do not want to push the assets in S3 and instead leave them in your application, remove the lines about S3 in the <b>config/assets.yml</b> file and run the following command:</p>
<pre class="shell"><code class="shell">jammit --force</code></pre>

<br/>

{% endblock %}