#features.section {

  .list {

    .media-object {
      height: 60px;
      margin-bottom: 10px;
      vertical-align: center;
    }

    .feature {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

}
