#header {
  font-family: "Avenir Next";

  @include background-image(linear-gradient(235deg, #d08e70 10%, #be836c 25%, #75575c 50%, #2d2e4c 80%, #1b2348));

  & > .container {
  }

  nav.navbar {
    background: transparent;
    margin-bottom: 0px;

    .navbar-brand {
      color: #fff;
      img {
        display: inline-block;
        position: relative;
        top: -2px;
        height: 13px;
      }
    }

    .navbar-toggle {
      .icon-bar {
        background-color: #fff;
      }
    }

    .navbar-nav {

      a {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: #fff;
          background: transparent;
        }
      }

      .sign-in {
        span {
          border-left: 1px solid #fff;
          line-height: 30px;
          margin-left: 10px;
          padding-left: 20px;
        }

        .btn {
          margin: 10px 0px;
          background: transparent;
          border-color: #fff;
          @include border-radius(20px);
        }
      }
    }
  }

  .jumbotron {
    background: transparent;

    font-weight: 300;
    color: #fff;

    h2 {
      font-size: 25px;
    }

    .sign-up {
      margin-top: 60px;

      .btn {
        background-color: #ec6124;
        border-color: #ec6124;
        @include border-radius(20px);

        i {
          position: relative;
          top: 1px;
          margin-left: 20px;
          color: rgb(205, 83, 31);
        }
      }
    }
  }
}

body#home-page {
  #header {
    min-height: 250px;
  }
}
