#testimonials.section {
  background: #f3f5f7;
  padding-bottom: 30px;

  hr {
    border-top-color: #e0e5eb;
  }

  .blockquote {
    margin-bottom: 40px;

    .bubble {
      position: relative;
      padding: 15px;
      margin: 0px auto;
      margin-bottom: 20px;

      min-height: 150px;
      @include border-radius(10px);
      border: 2px solid #eaedf0;
      color: #333333;
      background: white;

      &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 140px;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: #eaedf0 transparent;
        /* reduce the damage in FF3.0 */
        display: block;
        width: 0;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 142px;
        border-width: 8px 8px 0;
        border-style: solid;
        border-color: white transparent;
        /* reduce the damage in FF3.0 */
        display: block;
        width: 0;
      }

      .icon {
        color: #eb6123;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
      }

    }

    footer {
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 12px;

      span.name {
        margin-left: 10px;
        color: #eb6123;
      }

      img {
        width: 60px;
        height: 60px;
        border: 3px solid #eaedf0;
        @include border-radius(50%);
      }
    }
  }
}
