#main-blog
  +three-cols-grid

article
  +span-columns(3 omega,3)
  margin-top: $section-padding
  padding-bottom: 0
  color: $light-black
  font-size: 13px
  header
    font-size: 12px
    color: $main-blue
    margin-bottom: 15px
    h2
      margin-bottom: 10px
      a:hover
        text-decoration: none
        color: lighten($medium-blue, 15%)
    .meta
      line-height: 30px
      color: darken($light-blue, 15%)
      &.name
        font-weight: bold
        img
          vertical-align: middle
          margin-right: 5px
      &.date
        float: right
  .bottom
    margin-top: 20px
    .meta
      color: $blog-meta
    a
      +light-blue-rounded-button
  @media #{$desktop}
    +span-columns(2,3)

    .body
      margin-top: 10px
      &, p
        text-align: justify

      a
        color: $main-blue

.full-article
  blockquote
    width: 100%
    float: right
    margin-left: 20px
    color: $light-blue
    font-size: 18px
    line-height: 28px
    &:before
      content: "“"
      color: $light-blue
      font-size: 30px
      line-height: 28px
    &:after
      content: "”"
      color: $light-blue
      font-size: 18px
      line-height: 28px

  pre
    white-space: pre-wrap
    word-wrap: break-word

    span
      font-size: 13px
    & > span
      display: block
      overflow: auto
      font-family: Monaco,Menlo,Consolas,"Courier New",monospace
    code
      display: block
      margin: 20px 0
      padding: 10px
      overflow: auto

      font-size: 13px
      color: #333
      line-height: 20px

      border: none
      border-left: 5px solid $light-black
      background-color: rgba($light-black, 0.1)

  @media #{$desktop}
    margin-bottom: 20px
    .addthis_toolbox
      margin: 20px 0px
    blockquote
      width: 30%