.company-section
  +four-cols-grid
  border-bottom: 1px solid $blue-border
  padding-top: 40px
  padding-bottom: 40px
  header
    color: $dark-black
    font-size: 20px
    +proximanova-semi-bold
    line-height: 22px
    margin-bottom: 10px
  p
    color: $light-black
    font-size: 13px
    +open-sans-regular

.company-crew
  +four-cols-grid
  border-bottom: 1px solid $blue-border
  padding-top: 40px
  padding-bottom: 40px
  header
    color: $dark-black
    font-size: 20px
    +proximanova-semi-bold
    line-height: 22px
    margin-bottom: 10px


.company-crew-person
  +span-columns(4 omega, 4)
  text-align: center
  p
    +open-sans-regular
    color: $light-black
    font-size: 13px
  header
    h1
      color: $light-blue
      +open-sans-semi-bold
      font-size: 16px
      margin-bottom: 0
    .position
      +open-sans-bold
      color: $light-black
      font-size: 13px
@media #{$desktop}
  .content
    +two-columns
  .company-crew-person
    +span-columns(1, 4)
    +nth-omega(4)
    