%article
  %header
    %h1 {{ article.title }}
    {{ article.posted_at | localized_date: '%A %d %B %Y' }}
  %p {{ article.body | strip_html | truncate: 500 }}
  .bottom
    %a{ :href => "/articles/{{ article._permalink }}" }
      Read More
    %span.meta
      Posted by {{ article.author }}