%article
  %header
    %h1
      %a{ href: '/articles/{{ article._permalink }}' } {{ article.title }}
    %span.meta.date {{ article.posted_at | localized_date: '%A %d %B %Y' }}
    %span.meta.name
      %img{ src: "{{ article.author.picture.url | resize: '30x30' }}" }
      by {{ article.author.name }}
  %p {{ article.excerpt }}
  .bottom
    %a{ :href => "/articles/{{ article._permalink }}" }
      Read More