%aside.sidebar
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Email updates
      %p Never miss a LocomotiveCMS update again. Subscribe to our blog and receive your updates by email.
      #sidebar-newsletter
        %form
          %input#input{ :placeholder => "Your emails" }
          %input#submit{ :type => :submit, :value => "JOIN" }
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Stay connected
      %p Connect with us on Twitter to keep your finger on the LocomotiveCMS pulse.
      %a.twitter-follow-button{ :href => "https://twitter.com/locomotivecms", "data-show-count" => "false" }
        Follow @locomotivecms
      