%aside.sidebar
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Email updates
      %p Never miss a LocomotiveCMS update again. Subscribe to our blog and receive your updates by email.
      #sidebar-newsletter
        %form
          %input#input{ :placeholder => "Your emails" }
          %input#submit{ :type => :submit, :value => "JOIN" }
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Stay connected
      %p Connect with us on Twitter to keep your finger on the LocomotiveCMS pulse.
      <a href="https://twitter.com/locomotivecms" class="twitter-follow-button" data-show-count="false">Follow @locomotivecms</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      



      