<div id="bushido">
  <h4>Need Hosting ?</h4>
  <div class="text">
    Use <a href="http://bushi.do">Bushi.do's</a> free one-click install to host Locomotive
  </div>
  <div class="button">
    <a href='http://bushi.do/apps/new?envs={"BUSHIDO_METRICS_TOKEN": "3c247258174b97e8ba60d19835def5cd"}&repo=https://github.com/locomotivecms/engine.git'>Host now</a>
  </div>
</div>