%section.comparison
  %header
    %h1.underscored
      %span
        {{ comparison.icon.url | image_tag }}
        {{ comparison.name }}
  .body
    .locomotive
      %span.intro LocomotiveCMS
      %p {{ comparison.locomotive }}
    .wordpress
      %span.intro WordPress
      %p {{ comparison.wordpress }}