%section.company-section
  %section.company-crew-person
    %img{ :src => "", :alt => "" }
    %header
      %h1 Didier Lafforgue
      %span.position Rails development
    %p
      Didier (@Didier) is the founder of Locomotive. He speaks, thinks, eats and sleeps CMS. His family and friends thank him for creating a simple system to help them edit their websites.