%section{ id: '{{ feature._permalink }}', class: "feature {% cycle 'orientation': 'left', 'right' %} {% if forloop.last %}last{% endif %}" }
  .body
    %h4 {{ feature.long_name }}
    .description
      {{ feature.description }}
  .image
    {{ feature.thumb.url | resize: '360x250' | image_tag }}
