%a{ :name => '{{ feature._permalink }}' }
%section{ :class => "feature {% cycle 'orientation': 'left', 'right' %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}"}
  .feature-text
    %header
      %h1 {{ feature.long_name }}
    .feature-description
      {{ feature.description }}
  .feature-icon
    %img{ :src => "{{ feature.icon.url }}", :class => "" }
  %img{ :src => "{{ feature.thumb.url }}", :class => "feature-illustrations" }
