%section{ :class => "feature {% cycle 'orientation': 'left', 'right' %} {% if forloop.last %}last{% endif %}"}
  .feature-left
    .feature-icon
      %img{ :src => "{{ feature.icon.url }}", :class => "" }
    %header
      %h1 {{ feature.long_name }}
    .feature-description
      {{ feature.description }}
  %img{ :src => "{{ feature.thumb.url }}", :class => "feature-illustrations" }