%section.feature
  %header
    %h1 Custom content types
  .feature-description
    %p 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante sit amet mi vehicula suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    %p 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante sit amet mi vehicula suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

  %img{ :src => "http://placehold.it/100x100", :class => "feature-icon" }
  %img{ :src => "http://placehold.it/400x400", :class => "feature-illustrations" }