<footer>
  <div class="grid grid-centered">
    <div class="grid-cell with-2col with-1off is-middle">
      <img src="{{ 'logo-black.png' | theme_image_url }}" class="footer-brand" alt="{{ site.seo_title }}">
    </div>
    <div class="grid-cell with-2col is-middle">
      <h6>Locomotive</h6>
      <ul class="footer-links">
        <li>
          <a href="{% path_to home %}" title="Home">Home</a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <a href="{% path_to pricing %}" title="Pricing">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="grid-cell with-2col is-top">
      <h6>Company</h6>
      <ul class="footer-links">
        <li>
          <a href="{% path_to team %}">Team</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Logos</a>
        </li>
        <li>
          <a href="{% path_to terms-of-use %}" title="Terms of use">Terms of use</a>
        </li>
      </ul>
    </div>
    <div class="grid-cell with-2col is-top">
      <h6>Developers</h6>
      <ul class="footer-links">
        <li>
          <a href="https://locomotivecms.readme.io/" title="Documentation" target="_blank">Documentation</a>
        </li>
        <li>
          <a href="https://github.com/locomotivecms/engine#contribute" title="Contribute" target="_blank">Contribute</a>
        </li>
        <li>
          <a href="#">Dev blog</a>
        </li>
        <li>
          <a href="https://gitter.im/locomotivecms/engine" title="Gitter chat" target="_blank">Gitter chat</a>
        </li>
      </ul>
    </div>
    <div class="grid-cell with-2col is-top">
      <h6>Support</h6>
      <ul class="footer-links">
        <li>
          <a href="#">User guide</a>
        </li>
        <li>
          <a href="https://twitter.com/locomotivecms" title="Tweet at us" target="_blank">Tweet at us</a>
        </li>
        <li>
          <a href="https://locomotive-v3.readme.io/discuss" title="Ask a question" target="_blank">Ask a question</a>
        </li>
        <li>
          <a href="{% path_to privacy-policy %}" title="Privacy Policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
