<p>
  LocomotiveCMS is developed by <a href="http://www.nocoffee.fr" id="nocoffee">NoCoffee</a>. UI and website are designed by <a href="http://www.sachagreif.com">Sacha Greif</a>. LocomotiveCMS is free software under the MIT license.
</p>​