%section.gallery-item
  %img{ :src => "{{ company.screenshot.url }}", :alt => "{{ company.name }}" }
  .gallery-item-hover
    %header
      %h1 {{ company.name }}
      %span.site-category CATEGORY : {{ company.category }}
    {{ company.description }}
    %a{ :href => "http://{{ company.url }}", :class => "link-to-site"  }
      Visit site
    %a{ :href => "#", :class => "link-to-preview"  }
      Preview