.row.logos
  .col-xs-6.col-sm-4.col-md-2.col-md-offset-1
    %img{href: "#", src: "{{ 'logos/bbc.png' | theme_image_url }}"}
  .col-xs-6.col-sm-4.col-md-2
    %img{href: "#", src: "{{ 'logos/orange.png' | theme_image_url }}"}
  .col-xs-6.col-sm-4.col-md-2
    %img{href: "#", src: "{{ 'logos/disney.png' | theme_image_url }}"}
  .col-xs-6.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0
    %img{href: "#", src: "{{ 'logos/universal.png' | theme_image_url }}"}
  .col-md-2.col-sm-4
    %img{href: "#", src: "{{ 'logos/local_ch.png' | theme_image_url }}"}