%nav#main-nav{ class: '{% if page.fullpath == "index" %}home-nav{% endif %}'}
  .inner-container
    %h1
      %a{ href: "/" }
        LOCOMOTIVECMS
    #nav-toggle
      %a.icon-th-list
    %ul
      {% assign path_segments = path | split: '/' %}

      {% for mainpage in site.index.children reversed %}
      {% if mainpage.listed? %}

      %li{ class: '{% if mainpage.fullpath == path_segments[1] %}active{% endif %}'}
        %a{ href: "/{{ mainpage.fullpath }}", target: '{% if mainpage.redirect_url %}blank{% endif %}' }
          {{ mainpage.title }}

      {% endif %}
      {% endfor %}