<nav class="navigation">
  <a href="{% path_to home %}" class="navigation-brand" title="LocomotiveCMS">
    <img src="{{ 'logo-white.png' | theme_image_url }}" alt="{{ site.seo_title }}">
  </a>
  <ul class="navigation-links">
    <li>
      <a href="{% path_to testimonials %}" title="Testimonials">Testimonials</a>
    </li>
    <li>
      <a href="{% path_to pricing %}" title="Pricing">Pricing</a>
    </li>
    <li>
      <a href="https://locomotive-v3.readme.io" title="Documentation" target="_blank">Documentation</a>
    </li>
    <li>|</li>
    <li>
      <a href="https://station.locomotive.works/_app/sign_in">Sign in</a>
    </li>
  </ul>
</nav>
