<form action="//locomotivecms.us6.list-manage.com/subscribe/post?u=bfa2c3352a779507c3649b899&amp;id=d7212d82b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="youremail@provider.com">
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bfa2c3352a779507c3649b899_c9437cdd99" tabindex="-1" value=""></div>
  <input type="submit" value="{{ button_label }}" name="subscribe" id="mc-embedded-subscribe" class="button button-black">
  <div id="mce-responses" class="clear">
    <div class="response error" id="mce-error-response" style="display:none"></div>
    <div class="response success" id="mce-success-response" style="display:none"></div>
  </div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
