#ossbay-banner
  %h2
    %a{ href: '{% path_to ossbay %}' }
      {% editable_short_text "ossbay_banner", priority: 21 %}
      %em NEW
      Vote for features/bugs and back
      %b LocomotiveCMS.
      {% endeditable_short_text %}
