{% capture button_label %}{% editable_short_text button_label %}Get started{% endeditable_short_text %}{% endcapture %}
{% capture button_url %}{% editable_short_text button_url %}/tour{% endeditable_short_text %}{% endcapture %}

%section#page-head
  %section#page-head-content
    %header
      {% editable_short_text "page-head-title", priority: 10 %}
      TO BE EDITED
      {% endeditable_short_text %}
    {% editable_long_text "page-head-content", priority: 9 %}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante sit amet mi vehicula suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    {% endeditable_long_text %}

  {% if button_label.size > 0 %}
  %aside
    %a{ :href => "{{ button_url }}" } {{ button_label }}
  {% endif %}