%article
  %header
    %h1 {{ article.title }}
    %time{ :datetime => "..." }
    {{ article.posted_at }}
  {{ article.body | truncate: 400 }}
  .bottom
    %a{ :href => "/blog/{{ article._permalink }}" }
      Read More
    %span.meta
      Posted by {{ article.author }}