%section{ :class => "project-item {% if forloop.last %}last{% endif %}"}
  %section
    %h1 {{ project.title }}
    %h5.tagline {{ project.tagline }}
    {{ project.description }}
  %aside
    .floating-panel
      .inner-floating-panel
        %header
          Project status
        %p This development project is shceduled for completion in approximatley
        .project-due-date
          %span.number 2
          %span.number 3
          %span.word Days
          %span.number 1
          %span.number 6
          %span.word Hours