%section{ :class => "project-item {% if forloop.last %}last{% endif %}"}
  %section
    %h1 {{ project.title }}
    %h5.tagline {{ project.tagline }}
    {{ project.description }}
  %aside
    .floating-panel
      .inner-floating-panel
        %header
          Project status
        %p This development project is scheduled for completion in approximatley
        .project-due-date

          {% assign days = project.due_date | minus: today | divided_by: 86400 | rjust: 3, '0' %}

          %span.number {{ days.first }}
          %span.number {{ days | index: 1 }}
          %span.number {{ days.last }}

          %span.word Days