%a{ :name => '{{ step._permalink }}' }
%section{ :class => "step-item {% cycle 'orientation': 'left', 'right' %}" }
  %section
    %header
      %h1 {{ forloop.index }}.{{ step.title }}
    {% if step.time_saver %}
    %img.time-saver{ :src => "{{ 'time-saver.png' | theme_image_url }}" }
    {% endif %}
    {{ step.description }}
  .step-picture
    %img{ :src => "{{ step.picture.url }}", :alt => "" }