%a{ :name => '{{ step._permalink }}' }
%section{ :class => "step-item {% cycle 'orientation': 'left', 'right' %}" }
  %section
    %header
      %span.number {{ forloop.index }}
      %h4 {{ step.title }}
    {% if step.time_saver %}
    %img.time-saver{ :src => "{{ 'time-saver.png' | theme_image_url }}" }
    {% endif %}
    {{ step.description }}
  .step-picture
    {{ step.picture.url | resize: '360x250' | image_tag }}