---
title: Template of a blog post
templatized: true
published: true
listed: false
content_type: articles
position: 2
---
{% extends 'index' %}

{% block 'main' %}

#main-blog
  {% assign sidebar_class = 'desktop' %}
  {% include 'sidebar' with sidebar_class %}
  %article.full-article
    %header
      %h2 {{ article.title }}
      %span.meta.date {{ article.posted_at | localized_date: '%A %d %B %Y' }}
      %span.meta.name
        %img{ src: "{{ article.author.picture.url | resize: '30x30' }}" }
        by {{ article.author.name }}

    {% include 'addthis' with url: url %}

    .body
      {{ article.body }}

    / .bottom
    /   %span.meta
    /     Posted by {{ article.author.name }}
  {% assign sidebar_class = 'mobile' %}
  {% include 'sidebar' with sidebar_class %}

  {% include 'disqus' %}

{% endblock %}