---
title: Template of a testimonial
published: true
content_type: testimonials
sections_content: >
  {
    "testimonial_transcript": {
      "settings": {
        "title": "Full transcript",
        "interviewer": "LocomotiveCMS"
      }
    }
  }
---

{% extends "layouts/base" %}

{% block main %}
  <div class="section-simple-hero">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
              <h1 class="title has-text-white is-size-1">
                {{ testimonial.name }}
              </h1>
              <div class="subtitle is-size-4">
                {{ testimonial.company }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% section "testimonial_transcript" %}

{% endblock %}
