---
title: Template of a testimonial
published: true
content_type: testimonials
sections_content: >
  {
    "testimonial_transcript": {
      "settings": {
        "title": "Full transcript",
        "interviewer": "LocomotiveCMS"
      }
    }
  }
---

{% extends "layouts/base" %}

{% block main %}
  <div class="section-simple-hero">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
              <h1 class="title has-text-white is-size-1">
                {{ testimonial.name }}
              </h1>
              <div class="subtitle is-size-4">
                {{ testimonial.company }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% section "testimonial_transcript" %}

  <!-- <section>
    <div class="grid grid-centered">
      <div class="grid-cell with-8col with-2off">
        <div class="testomonial-transcript">
          <h3>{% editable_text "title", format: raw, rows: 1 %}Full transcript{% endeditable_text %}</h3>
          {{ testimonial.video_transcript }}
          <br>
          <a href="{% path_to testimonials %}" class="testimonial-link is-left" title="Back to testimonials">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Back to testimonials
          </a>
        </div>
      </div>
    </div>
  </section> -->

{% endblock %}
