{% extends 'parent' %}

{% block page_inner %}

<h4>Content Types</h4>

<p><strong>Display</strong><br />
Output the items in a content type in a list with a link to their templated page.</p>

<pre><code>&lt;ul class="somethings"&gt;
  <strong>&#123;&#37; for something in contents.somethings &#37;&#125;</strong>
    &lt;li class="something"&gt;
      &lt;a href="/somethings/<strong>&#123;&#123; something._slug &#125;&#125;</strong>"><strong>&#123;&#123; something.name &#125;&#125;</strong>&lt;/a&gt;
    &lt;/li&gt;
  <strong>&#123;&#37; endfor &#37;&#125;</strong>
&lt;/ul&gt;
</code></pre>

<p><strong>Create</strong><br />
Allow a website user to create a content type.</p>

<pre><code>&lt;form action="<strong>&#123;&#123; contents.somethings.api.create &#125;&#125;</strong>" method="post">
  &lt;fieldset&gt;
    &lt;ol&gt;
      &lt;li&gt;&lt;input name="content[name]"  id="somethings_name" /&gt;&lt;/li&gt;
      &lt;li&gt;&lt;input name="content[email]" id="somethings_email" /&gt;&lt;/li&gt;
      &lt;li&gt;&lt;input type="submit" value="Save" /&gt;&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;</code></pre>

<p><em>Match this form up with javascript to complete the experience (<a href="https://gist.github.com/870126" title="contact Gist">check out this gist</a>)</em></p>

<hr />

<h4>External Feeds</h4>

<p>
<strong>Consume</strong><br />
Read an external datasource, caches the content and allows you to itterate over the objects.</p>

<pre><code><strong>&#123;&#37; consume blog from '<em>http://blog.locomotivecms.com/api/read/json?num=3&type=text</em>', expires_in: 3000 &#37;&#125;</strong>
  <strong>&#123;&#37; if blog == null &#37;&#125;</strong>
    &lt;p class="error"&gt;We are sorry but the Tumblr API seems to be broken now. Click &lt;a href="http://blog.locomotivecms.com"&gt;her&lt;/a&gt; to see the blog.&lt;/p&gt;
  <strong>&#123;&#37; else &#37;&#125;</strong>
    <strong>&#123;&#37; for article in blog.posts &#37;&#125;</strong>
      &lt;li class="article <strong>&#123;&#37; cycle ' ', ' ', 'last' &#37;&#125;</strong>"&gt;
        &lt;h3&gt;&lt;a href="<strong>&#123;&#123; article.url &#125;&#125;</strong>"&gt;<strong>&#123;&#123; article.regular_title &#125;&#125;</strong>&lt;/a&gt;&lt;/h3&gt;
        &lt;p class="date"&gt;<strong>&#123;&#123; article.date_gmt | localized_date: '%A %d %B %Y', 'en' &#125;&#125;</strong>&lt;/p&gt;
        &lt;div class="body"&gt;
          <strong>&#123;&#123; article.regular_body | strip_html | truncate: 200 &#125;&#125;</strong>
        &lt;/div&gt;
      &lt;/li&gt;
    <strong>&#123;&#37; endfor &#37;&#125;</strong>
  <strong>&#123;&#37; endif &#37;&#125;</strong>
<strong>&#123;&#37; endconsume &#37;&#125;</strong></code></pre>


{% endblock %}
