{% extends 'parent' %}

{% block page_inner %}

<h4>Stylesheet Tag</h4>

<pre><code><strong>&#123;&#123; '<em>main.css</em>' | stylesheet_tag &#125;&#125;</strong></code></pre>

<hr />

<h4>Javascript Tag</h4>

<pre><code><strong>&#123;&#123; '<em>application.js</em>' | javascript_tag &#125;&#125;</strong></code></pre>

<hr />

<h4>Image Tag</h4>

<pre><code><strong>&#123;&#123; '<em>/site/url/image.png</em>' | image_tag &#125;&#125;</strong></code></pre>

<p><em>If the image is a part of the current theme, use <strong>theme_image_tag</strong>.</em></p>

<hr />

<h4>Localized Date</h4>

<p>Return a date (string or object attribute) in a localized format.</p>

<pre><code><strong>&#123;&#123; '<em>15/11/2009</em>' | localized_date: '%A %d %B %Y', 'en' &#125;&#125;</strong></code></pre>

<hr />

<h4>Text Format</h4>

<pre><code><strong>&#123;&#123; '<em>some text</em>' | underscore &#125;&#125;</strong> some_text
<strong>&#123;&#123; '<em>some text</em>' | dasherize &#125;&#125;</strong> some-text
<strong>&#123;&#123; '<em>['a','b','c']</em>' | concat &#125;&#125;</strong> abc</code></pre>

<hr />

<h4>More Liquid</h4>

<p> For a list of more useful liquid filters, check out the <a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers">liquid wiki</a>.

<hr />

{% endblock %}
