{% extends 'parent' %}

{% block page_inner %}

<h4>Extends</h4>

<pre><code><strong>&#123;&#37; extends '<em>parent</em>' &#37;&#125;</strong></code></pre>

<ul>
  <li><strong>parent</strong> the layout for the parent url</li>
  <li><strong>/some/url</strong> a specific pages layout</li>
</ul>

<hr />

<h4>Blocks</h4>

<p>Blocks are regions of content that you may want to override in children layouts.</p>

<p>Their names are used to define the tabs in the backend and segment editable regions.</p>

<pre><code><strong>&#123;&#37; block <em>meta</em> &#37;&#125;</strong>
  &lt;meta name="keywords" content="<strong>&#123;&#37; editable_short_text '<em>keywords</em>' &#37;&#125;</strong>more,etc,others,another<strong>&#123;&#37; endeditable_short_text &#37;&#125;</strong>" /&gt;
<strong>&#123;&#37; endblock &#37;&#125;</strong>
</code></pre>

<p><em>Nesting blocks is fine. However,their names must be unique.</em></p>
<hr />

<h4>Editable Content</h4>

<p>Editable areas contain content you want a user to be able to change.<br />
  You must give these sections a unique name because they will be inherited by children.</p>

<pre><code><strong>&#123;&#37; editable_long_text '<em>unique identifier</em>' &#37;&#125;</strong>
  &lt;p&gt;some formatted dummy text which will be used as the placeholder&lt;/p&gt;
<strong>&#123;&#37; endeditable_long_text &#37;&#125;</strong>
</code></pre>

<ul>
  <li><strong>short text</strong> a single line of text</li>
  <li><strong>long text</strong> a set of stylable paragraphs</li>
  <li><strong>file</strong> an uploadable file</li>
</ul>

<hr />

<h4>Snippets</h4>

<p>Include sections of content you would like to repeat across the website.</p>

<pre><code><strong>&#123;&#37; include '<em>snippet_name</em>' &#37;&#125;</strong></code></pre>

{% endblock %}
