{% extends 'parent' %}

{% block page_inner %}

<h4>Name</h4>

<pre><code><strong>&#123;&#123; site.name &#125;&#125;</strong></code></pre>

<hr />

<h4>SEO Metadata</h4>

<p>Output the meta tags and associated content for keywords and description.</p>

<pre><code><strong>&#123;&#37; seo_metadata &#37;&#125;</strong></code></pre>

<p>Alternatively,you can access the keywords and description directly.</p>

<pre><code><strong>&#123;&#123; site.keywords &#125;&#125;</strong>
<strong>&#123;&#123; site.description &#125;&#125;</strong></code></pre>

<p><em>If you would like page based SEO information, check out <a href="/support/liquid/pages">Editable Contents.</a></em></p>

<hr />

<h4>Navigation</h4>

<pre><code><strong>&#123;&#37; nav '<em>parent</em>', depth: 1, no_wrapper: false, exlude: nil, icon: false &#37;&#125;</strong></code></pre>

<p><em>Primary Identifier can be a fullpath or one of the reserved words "site", "parent" or "page."</em></p>

<ul>
  <li><strong>depth</strong> how many children to display <small><em>(1)</em></small></li>
  <li><strong>no_wrapper</strong> output the ul wrapper <small><em>(no)</em></small></li>
  <li><strong>exclude</strong> regex string of slugs to be ignored <small><em>[(empty)]</em></small></li>
  <li><strong>icon</strong> ouput a span to be used as an icon<small><em>(no)</em></small></li>
</ul>

<hr />

<h4>Google Analytics</h4>

<pre><code><strong>&#123;&#37; google_analytics '<em>unique identifier</em>' &#37;&#125;</strong></code></pre>

<hr />

<h4>Consume</h4>

<p>Read a remote data feed and output the objects returned.</p>

{% endblock %}
