@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenir/regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenir/demi.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenir/bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
