body { background: #000 url("/images/bg.png") repeat 0 0; color: #fff; font-family: helvetica, arial !important; }

.wrapper { background: transparent url("/images/wrapper_bg.png") repeat-x 0 0; }

.container { padding: 25px 0 20px 0; width: 942px; }

.right-sidebar {
  float: right;
  width: 244px;
}

#header { z-index: 998; position: relative; }
#header h1 { text-align: left; margin: 0px 20px 0 0; }
#header h1 a { display: block; outline: none; }

#footer { margin-top: 0px; }
#footer p { text-align: center; color: #e6e6e6; font-size: 1.1em; }
#footer p a { color: #1f82bc; text-decoration: none; }
#footer p a:hover { text-decoration: underline; }
#footer p a#nocoffee { background: url("http://www.locomotivehosting.fr/images/admin/nocoffee.png") no-repeat scroll right 0 transparent; color: #B0B4C0 !important; line-height: 20px; margin: 0 4px; padding-right: 20px; }

#forkme { position: fixed; top: 0px; right: 0px; width: 185px; height: 185px; z-index: 998; }

/* ___ button ___ */

a.btn {
  display: inline-block;
  height: 26px;
  line-height: 25px;
  padding: 0px 16px 0px 16px;
  outline: none;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  background: #195f8d;
  background: -moz-linear-gradient(0% 100% 90deg, #065c8f, #1f82bc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f82bc), to(#065c8f));
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.1) ;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.1) ;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.1) ;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

a.btn:hover {
  background: #195f8d;
  background: -moz-linear-gradient(0% 100% 90deg, #27a4ed, #0d6792);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#27a4ed), to(#0d6792));
}

a.btn:active {
  background: #195f8d;
  background: -moz-linear-gradient(0% 100% 90deg, #0d6792, #27a4ed);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d6792), to(#27a4ed));
}

/* ___ [page] ___ */

.page .container { width: 968px; }

#page-wrapper { margin: 30px 0 20px 0; width: 968px; }

#page-wrapper .header { background: transparent url("/images/page/menu_bg.png") no-repeat 0 0px; height: 65px; position: relative; }
#page-wrapper .header ul { list-style: none; height: 65px; }
#page-wrapper .header ul li { float: left; text-align: center; margin-top: 5px; height: 43px; padding-top: 17px; width: 192px; background: transparent url(../images/page/menu_sep.png) no-repeat right 0; }
#page-wrapper .header ul li:last-child { background: none; width: 193px; }
#page-wrapper .header ul li a { display: inline-block; color: #707380; text-shadow: 0 1px 1px #000; font-size: 16px; text-decoration: none; }
#page-wrapper .header ul li.on a, #page-wrapper #nav li a:hover { color: #fff; }

#page-wrapper .header ul#main-nav { float: right; margin-right: 25px; }
#page-wrapper .header ul#main-nav li { display: inline-block; float: none; width: auto; margin-left: 20px; background: none; }
#page-wrapper .header ul#main-nav li a { display: inline-block; color: #1f82bc; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.65); font-size: 1.2em; z-index: 997; }
#page-wrapper .header ul#main-nav li a:hover { color: #fff; }

#page-wrapper .inner { background: transparent url("/images/page/inner_bg.png") repeat-y 0 0; padding: 1px 0px 1px 0px; min-height: 400px; }
#page-wrapper .inner h2 { color: #2a2b33; }

#page-wrapper .content { font-size: 1.2em; color: #333; text-shadow: 0px 1px 1px #fff; padding: 6px 15px 0 20px; }

#page-wrapper .sidebar { float: left; width: 201px; padding-left: 4px; }
#page-wrapper .sidebar ul { list-style: none; margin: -2px 0 0 0; padding: 0px; background: transparent url("/images/page/sidebar_sep.png") repeat-x 0 bottom; }
#page-wrapper .sidebar ul li { height: 30px; padding: 10px 0 0 10px; background: transparent url("/images/page/sidebar_sep.png") repeat-x 0 top; }
#page-wrapper .sidebar ul li.first { background: none; }
#page-wrapper .sidebar ul li a { font-size: 1.1em; color: #2a2b33; text-shadow: 0 1px 1px #65666e; text-decoration: none; }
#page-wrapper .sidebar ul li.on { background: transparent url("/images/page/sidebar_on_bg.png") repeat-x 0 0; }
#page-wrapper .sidebar ul li.on a, #page-wrapper .sidebar ul li a:hover { color: #fff; text-shadow: 0 1px 1px #000; }

#page-wrapper.sidebar .inner { background-image: url("/images/page/inner_bg_w_sb.png"); }
#page-wrapper.sidebar .content { margin-left: 220px !important; padding-left: 0px !important; }
#page-wrapper.sidebar .footer { background-position: 0 0; }

#page-wrapper .footer { background: transparent url("/images/page/footer_bg.png") no-repeat 0 -16px; height: 16px; }

/* ___ support page ___ */

#page-wrapper.support .header { background-position: 0 -65px; }

#page-wrapper.support .content h2 { color: #2A2B33; font-size: 1.6em; font-weight: bold; margin: 0 0 15px; }
#page-wrapper.support .content h3 { background: transparent url("/images/bullet_1.png") no-repeat 0 3px; padding: 0 0 0 20px; outline: none; }
#page-wrapper.support .content h3.bullet { background: transparent url("/images/bullet_2.png") no-repeat 0 8px; padding: 0 0 0 15px; }
#page-wrapper.support .content p.step em { color: #1F82BC; font-weight: bold; font-size: 1.2em; }
#page-wrapper.support .content a  { color: #1F82BC; text-decoration: none; }
#page-wrapper.support .content a:hover  { text-decoration: underline; }
#page-wrapper.support .content ul { margin-left: 25px }
#page-wrapper.support .content hr { border: 0; background-color: #888; margin: 20px 0; height: 1px }
#page-wrapper.support .content em { font-style: italic }
#page-wrapper.support .content code strong { color: #000; font-weight: normal }
#page-wrapper.support .content code { font-family: Monaco, monospace; font-size: 12px; color: #555 }
#page-wrapper.support .content code em { text-decoration: underline; font-style: normal; }
/* ___ features page / about / etc... ___ */

#page-wrapper.wo-sidebar .header { text-align: left; padding-left: 38px; }
#page-wrapper.wo-sidebar .header a.btn { margin: 18px 10px 0 0px; font-size: 1.1em; }

#page-wrapper.wo-sidebar .header a#back-to-home {
  display: block;
  position: absolute;
  top: 19px;
  left: 20px;
  background: transparent url("/images/buttons/backtohome.png") no-repeat 0 0px;
  width: 126px;
  height: 31px;
  text-decoration: none;
  outline: none;
}
#page-wrapper.wo-sidebar .header a#back-to-home:hover { background-position: 0 -31px !important; }
#page-wrapper.wo-sidebar .header a#back-to-home:active { background-position: 0 -62px !important; }


#page-wrapper.wo-sidebar .inner .content { padding: 30px 40px 0 40px; position: relative; }
#page-wrapper.wo-sidebar .inner h2 { color: #444; font-size: 3em; margin: 0 0 5px 0px; line-height: 1.2em; }
#page-wrapper.wo-sidebar .inner h3 { color: #8b8d9a; font-size: 1.2em; font-weight: normal; padding-bottom: 20px; margin-bottom: 20px; background: transparent url("/images/page/sep.png") repeat-x bottom 0; }
#page-wrapper.wo-sidebar .inner h4 { color: #444; font-size: 20px; }

#page-wrapper.wo-sidebar .inner .size3of4 { width: 70%; padding-right: 5%; }

#page-wrapper.wo-sidebar .inner .text { color: #707380; font-size: 1em; font-weight: 100 }
#page-wrapper.wo-sidebar .inner .text p { color: #707380; margin-bottom: 0px; }
#page-wrapper.wo-sidebar .inner .text a { color: #1f82bc; text-decoration: none; }
#page-wrapper.wo-sidebar .inner .text a:hover { text-decoration: underline; }

#page-wrapper.wo-sidebar .inner .sep { background: transparent url("/images/page/sep.png") repeat-x 0 bottom; margin: 15px 0px; height: 2px; }

#technical-specs { width: 244px; }
#technical-specs .header { height: 43px; background: transparent url("/images/specs/header.png") no-repeat 0 0; }
#technical-specs .inner { min-height: 150px; padding: 5px 20px; background: transparent url("/images/specs/inner.png") repeat-y 0 0; }
#technical-specs .inner h4 { color: #444; text-align: center; font-size: 1.1em !important; font-weight: 100; background: transparent url("/images/specs/sep.png") repeat-x 0 bottom; padding-bottom: 10px; margin-bottom: 10px; }
#technical-specs .inner ul { list-style: none; margin: 0px; padding: 0px; }
#technical-specs .inner ul li { margin: 0px 0px 15px 0; }
#technical-specs .inner ul li a { display: block; color: #1f82bc; text-decoration: none; }
#technical-specs .inner ul li a:hover { text-decoration: underline; }
#technical-specs .inner ul li em { color: #686971; }
#technical-specs .inner .more { padding: 0px; margin: 0px; text-align: center; }
#technical-specs .inner .more a { color: #1f82bc; text-decoration: none; }
#technical-specs .inner .more a:hover { text-decoration: underline; }
#technical-specs .footer { height: 20px; background: transparent url("/images/specs/footer.png") no-repeat 0 0; }

body#features-page .inner .list { float: left; width: 580px; }
body#features-page .inner .list ul { list-style: none; margin: 0px; padding: 0px; }
body#features-page .inner .list li.feature { margin-bottom: 40px; }
body#features-page .inner .list li.feature .image { float: left; margin-right: 10px; }
body#features-page .inner .list li.feature h4, body#features-page .inner .list li.feature .text { margin-left: 120px; }
body#features-page .inner .list li.feature h4 { color: #444; font-size: 1.1em; }
body#features-page .inner .list li.feature .text { color: #707380; font-size: 1em; }
body#features-page .inner .list li.feature .text a { color: #1F82BC; text-decoration: none; }
body#features-page .inner .list li.feature .text a:hover { text-decoration: underline; }

body#features-page .inner .list li.feature.no-screenshot h4, body#features-page .inner .list li.feature.no-screenshot .text { margin-left: 0px; }

body#features-page #inside-engine { margin-top: 15px; text-align: center; font-family: Georgia; }
body#features-page #inside-engine h4 { color: #444; font-size: 13px; font-weight: 100; }
body#features-page #inside-engine h4 em { font-size: 15px; font-style: italic; }

body#about-us-page .inner .size1of3 { width: 28%; padding-left: 5.33333%; }

body#about-us-page .inner a { color: #1f82bc; text-decoration: none; }
body#about-us-page .inner a:hover { text-decoration: underline; }

body#about-us-page #contact-us { position: absolute; top: 45px; left: 70%; }
body#about-us-page #contact-us a { display: block; line-height: 16px; margin-bottom: 15px; padding-left: 25px; }
body#about-us-page #contact-us a.email { background: transparent url("/images/icons/mail.png") no-repeat left 3px; }
body#about-us-page #contact-us a.twitter { background: transparent url("/images/icons/twitter.png") no-repeat left 3px; }

body#about-us-page #crew { list-style: none; margin: 0px; padding: 0px; }
body#about-us-page #crew li.person { float: left; width: 167px; margin-right: 45px; }
body#about-us-page #crew li.person.third { margin-right: 0px; }
body#about-us-page #crew li.person .picture { background: transparent url("/images/crew/frame.png") no-repeat 0 0; height: 188px; padding: 5px 5px 0px 5px; overflow: hidden; z-index: 999; }
body#about-us-page #crew li.person .picture img { display: block; z-index: 998; }
body#about-us-page #crew li.person .plate { margin: 6px 0px; }
body#about-us-page #crew li.person h5 { color: #444; font-size: 1em; font-weight: bold; margin: 0px; }
body#about-us-page #crew li.person h6 { margin: 1px 0 0 0; font-size: 1em; font-weight: bold; font-style: normal; }
body#about-us-page #crew li.person .body p { color: #707380; margin: 0px; font-size: 1em; }

body#about-us-page #news { list-style: none; margin: 15px 0 0 0px; padding: 0px; }
body#about-us-page #news li { margin-bottom: 15px; }
body#about-us-page #news li h3 { color: #707380; font-size: 0.9em; font-style: normal; font-weight: normal; background: none; margin: 0px; padding: 0px; }
body#about-us-page #news li h3 em { font-weight: bold; }
body#about-us-page #news li p { margin: 5px 0 0 0; font-size: 0.9em; }

body#about-us-page ul#companies { margin-top: 20px; list-style: none; }
body#about-us-page ul#companies li { margin: 0px 0 10px 0; text-align: center; }

body#about-us-page #press-kit { width: 245px; height: 131px; margin: 15px auto; padding: 60px 0 0 0; text-align: center; background: transparent url("/images/specs/presskit_frame.png") no-repeat 0 0;}
body#about-us-page #press-kit a, body#about-us-page #press-kit em { display: block; }
body#about-us-page #press-kit em { color: #444; font-size: 0.9em; }

/* ___ [Themes] ___ */

#themes li { margin-bottom: 20px; background: transparent url("/images/page/sep.png") repeat-x top 0; padding-top: 20px; }
#themes li .image { float: left; width: 266px; height: 217px; border: 1px solid rgba(0, 0, 0, 0.2); }
#themes li .image img { border: 3px solid #fff; }
#themes li .info { margin-left: 280px; }
#themes li .info a { color: #1F82BC; text-decoration: none; }
#themes li .info a:hover { text-decoration: underline; }
#themes li .info h3 { background: none; padding-left: 0px; margin-bottom: 5px; }
#themes li .info dl { }
#themes li .info dd { float: left; margin-right: 5px; font-weight: bold; }

#themes li .download { margin: 20px 10px 0 0px; text-align: right; }

#themes li .download a.awesome {
  background: #222 url("/images/alert-overlay.png") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

#themes li .download a.awesome:hover { background-color: #111; color: #fff; text-decoration: none; }
#themes li .download a.awesome:active { top: 1px; }

/* ___ folders ___ */

table.folders { border-collapse: collapse; margin: 0 20px 20px 20px; }
table.folders th { width: 22%; font-weight: bold; }

/* ___ Bushido ___ */

#bushido {
  width: 220px;
  height: 127px;
  padding: 10px;
  background: transparent url("/images/bushido.png") no-repeat 0 0;
  position: relative;
}

#bushido h4 {
  color: #444;
  font-weight: 100;
  font-size: 24px !important;
  text-align: center;
  margin: 0px 0 5px 0;
}

#bushido div.text {
  color: #444;
  text-align: center;
}

#bushido div.text a {
  color: #1f82bc;
  font-weight: 400;
  text-decoration: none;
}

#bushido div.text a:hover {
  text-decoration: underline;
}

#bushido div.button {
  position: absolute;
  bottom: 18px;
  left: 74px;
}

#bushido div.button a {
  line-height: 24px;
  display: inline-block;
  width: 92px;
  text-indent: -9999px;
}

/* ___ Modules ___ */

.module-icon {
  float: left;
  width: 91px;
  height: 90px;
  background: transparent url(/images/modules/small-bg.png) no-repeat 0 0;
  margin: 0 15px 15px 0;
}

.module-icon .icon {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.module-text {
  width: 590px;
}

.module-text ul {
  margin: 15px 0 0 30px;
}

.module-text ul li {
  margin-bottom: 15px;
}

.module-text ul li strong {
  font-weight: bold;
}

#module-buy-now {
  width: 240px;
  height: 137px;
  padding-top: 10px;
  background: transparent url(/images/modules/price-bg.png) no-repeat 0 0;
}

#module-buy-now h5 {
  margin: 0 0 15px 0;
  text-align: center;
  color: #1f82bc;
  font-size: 34px;
  line-height: 34px;
  font-weight: bold;
}

#module-buy-now p.action {
  text-align: center;
  margin-bottom: 8px;
}

#module-buy-now .text {
  margin: 0 10px;
  text-align: center;
}

ul#modules {
  padding-top: 10px;
  width: 100%;
  list-style: none;
}

ul#modules li a {
  color: #1f82bc;
  text-decoration: none;
}

ul#modules li a:hover {
  text-decoration: underline;
}

ul#modules li {
  width: 540px;
  height: 90px;
  background: transparent url(/images/modules/bg.png) no-repeat 0 0;
  position: relative;
  margin-bottom: 20px;
}

ul#modules li div.icon {
  float: left;
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

ul#modules li h4, ul#modules li div.text {
  margin-left: 100px;
}

ul#modules li h4 {
  padding-top: 10px;
  font-size: 14px !important;
  color: #8b8d9a;
  font-weight: normal;
}

ul#modules li h4 a {
  font-size: 16px;
}

ul#modules li .price {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 43px;
  height: 24px;
  padding-top: 4px;
  text-align: center;
}

ul#modules li .price a {
  text-shadow: 0px 1px 1px #000;
}
