body { background: #000 url("/images/bg.png") repeat 0 0; color: #fff; font-family: helvetica, arial !important; }

.wrapper { background: transparent url("/images/wrapper_bg.png") repeat-x 0 0; }

.container { padding: 25px 0 20px 0; width: 942px; }

a#back-to-home { background: transparent url("/images/buttons/backtohome.png") no-repeat 0 0px; }
a#see-demo { background: transparent url("/images/buttons/seedemo.png") no-repeat 0 0px; }
a#get-started { background: transparent url("/images/buttons/getstarted.png") no-repeat 0 0px; }

a.btn { display: block; width: 126px; height: 31px; text-decoration: none; outline: none; }
a.btn:hover { background-position: 0 -31px !important; }
a.btn:active { background-position: 0 -62px !important; }


#header { z-index: 998; position: relative; }
#header h1 { text-align: right; margin: 0px 20px 0 0; }
#header h1 a { display: block; outline: none; }

#footer { margin-top: 0px; }
#footer p { text-align: center; color: #e6e6e6; font-size: 1.1em; }
#footer p a { color: #1f82bc; text-decoration: none; }
#footer p a:hover { text-decoration: underline; }
#footer p a#nocoffee { background: url("http://www.locomotivehosting.fr/images/admin/nocoffee.png") no-repeat scroll right 0 transparent; color: #B0B4C0 !important; line-height: 20px; margin: 0 4px; padding-right: 20px; }

#forkme { position: fixed; top: 0px; right: 0px; width: 185px; height: 185px; z-index: 999; }

/* ___ [box] ___ */

.box { background: transparent url("/images/home/box_head.png") no-repeat 0 0; padding-top: 10px; }
.box-middle { background: transparent url("/images/home/box_middle.png") repeat-y 0 0; min-height: 300px; padding: 1px 10px; }
.box-foot { background: transparent url("/images/home/box_foot.png") no-repeat 0 0; height: 10px; }

/* ___ [page] ___ */

#page-wrapper { margin: 30px 0 20px 0; width: 928px; padding: 4px; }

#page-wrapper .header { background: transparent url("/images/page/menu_bg.png") no-repeat 0 0px; height: 65px; position: relative; }
#page-wrapper .header ul { list-style: none; height: 65px; }
#page-wrapper .header ul li { float: left; text-align: center; margin-top: 22px; width: 230px; }
#page-wrapper .header ul li a { color: #707380; text-shadow: 0 1px 1px #000; font-size: 16px; text-decoration: none; }
#page-wrapper .header ul li.on a, #page-wrapper #nav li a:hover { color: #fff; }

#page-wrapper .inner { background: transparent url("/images/page/inner_bg.png") repeat-y 0 0; padding: 1px 0px 1px 0px; min-height: 400px; }
#page-wrapper .inner h2 { color: #2a2b33; }

#page-wrapper .content { font-size: 1.2em; color: #333; text-shadow: 0px 1px 1px #fff; padding: 6px 15px 0 20px; }

#page-wrapper .sidebar { float: left; width: 182px; padding-left: 4px; }
#page-wrapper .sidebar ul { list-style: none; margin: 0px 0 0 0; padding: 0px; background: transparent url("/images/page/sidebar_sep.png") no-repeat 0 bottom; }
#page-wrapper .sidebar ul li { height: 30px; padding: 10px 0 0 10px; background: transparent url("/images/page/sidebar_sep.png") no-repeat 0 top; }
#page-wrapper .sidebar ul li.first { background: none; }
#page-wrapper .sidebar ul li a { font-size: 1.1em; color: #2a2b33; text-shadow: 0 1px 1px #65666e; text-decoration: none; }
#page-wrapper .sidebar ul li.on { background: transparent url("/images/page/sidebar_on_bg.png") repeat-x 0 0; }
#page-wrapper .sidebar ul li.on a, #page-wrapper .sidebar ul li a:hover { color: #fff; text-shadow: 0 1px 1px #000; }

#page-wrapper.sidebar .inner { background-image: url("/images/page/inner_bg_w_sb.png"); }
#page-wrapper.sidebar .content { margin-left: 200px !important; padding-left: 0px !important; }
#page-wrapper.sidebar .footer { background-position: 0 0; }

#page-wrapper .footer { background: transparent url("/images/page/footer_bg.png") no-repeat 0 -16px; height: 16px; }

/* ___ support page ___ */

#page-wrapper.support .header { background-position: 0 -65px; }

#page-wrapper.support .content h2 { color: #2A2B33; font-size: 1.6em; font-weight: bold; margin: 0 0 15px; }
#page-wrapper.support .content h3 { background: transparent url("/images/bullet_1.png") no-repeat 0 3px; padding: 0 0 0 20px; outline: none; }
#page-wrapper.support .content h3.bullet { background: transparent url("/images/bullet_2.png") no-repeat 0 8px; padding: 0 0 0 15px; }
#page-wrapper.support .content p.step em { color: #1F82BC; font-weight: bold; font-size: 1.2em; }
#page-wrapper.support .content p a { color: #1F82BC; text-decoration: none; }
#page-wrapper.support .content p a:hover { text-decoration: underline; }

/* ___ features page ___ */

body#features-page .header .btn { position: absolute; top: 19px; }

body#features-page .header a#back-to-home { left: 20px; }
body#features-page .header a#see-demo { right: 160px; }
body#features-page .header a#get-started { right: 20px; }

body#features-page .inner .content { padding: 30px 40px 0 40px; position: relative; }
body#features-page .inner h2 { color: #444; font-size: 3em; margin: 0 0 5px 0px; line-height: 1.2em; }
body#features-page .inner h3 { color: #8b8d9a; font-size: 1.2em; font-weight: normal; padding-bottom: 20px; margin-bottom: 20px; background: transparent url("/images/page/sep.png") repeat-x bottom 0; }

#technical-specs { float: right; width: 286px; }
#technical-specs .header { height: 43px; background: transparent url("/images/specs/header.png") no-repeat 0 0; }
#technical-specs .inner { min-height: 150px; padding: 5px 30px; background: transparent url("/images/specs/inner.png") repeat-y 0 0; }
#technical-specs .inner h4 { color: #444; text-align: center; font-size: 1.1em; font-weight: normal; background: transparent url("/images/specs/sep.png") repeat-x 0 bottom; padding-bottom: 10px; margin-bottom: 10px; }
#technical-specs .inner ul { list-style: none; margin: 0px; padding: 0px; }
#technical-specs .inner ul li { margin: 0px 0px 15px 0; }
#technical-specs .inner ul li a { display: block; color: #1f82bc; text-decoration: none; }
#technical-specs .inner ul li a:hover { text-decoration: underline; }
#technical-specs .inner ul li em { color: #686971; }
#technical-specs .footer { height: 20px; background: transparent url("/images/specs/footer.png") no-repeat 0 0; }

body#features-page .inner .list { float: left; width: 530px; }
body#features-page .inner .list ul { list-style: none; margin: 0px; padding: 0px; }
body#features-page .inner .list li.feature { margin-bottom: 40px; }
body#features-page .inner .list li.feature .image { float: left; margin-right: 10px; }
body#features-page .inner .list li.feature h4 { color: #444; font-size: 1.1em; }
body#features-page .inner .list li.feature .text { color: #707380; }
body#features-page .inner .list li.feature .text a { color: #1F82BC; text-decoration: none; }
body#features-page .inner .list li.feature .text a:hover { text-decoration: underline; }

/* ___ [Themes] ___ */

#themes li { margin-bottom: 20px; background: transparent url("/images/page/sep.png") repeat-x top 0; padding-top: 20px; }
#themes li .image { float: left; width: 266px; height: 217px; border: 1px solid rgba(0, 0, 0, 0.2); }
#themes li .image img { border: 3px solid #fff; }
#themes li .info { margin-left: 280px; }
#themes li .info a { color: #1F82BC; text-decoration: none; }
#themes li .info a:hover { text-decoration: underline; }
#themes li .info h3 { background: none; padding-left: 0px; margin-bottom: 5px; }
#themes li .info dl { }
#themes li .info dd { float: left; margin-right: 5px; font-weight: bold; }

#themes li .download { margin: 20px 10px 0 0px; text-align: right; }

#themes li .download a.awesome {
  background: #222 url("/images/alert-overlay.png") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

#themes li .download a.awesome:hover { background-color: #111; color: #fff; text-decoration: none; }
#themes li .download a.awesome:active { top: 1px; }

/* ___ [homepage] ___ */

body.home #content { position: relative; top: -22px; z-index: 998px; }

body.home #main { background: transparent url("/images/home/banner_bg.jpg") no-repeat 0 0; }

body.home #tagline { height: 248px; position: relative; }
body.home #tagline p { font-family: 'Adelle'; font-size: 1.9em; color: #f1c1cd; text-shadow: 0px 1px 1px #000; line-height: 1.6em; padding: 68px 30px 0 410px; margin: 0px; }
body.home #tagline p em { color: #fff; font-family: 'Becker'; font-size: 0.7em; margin-right: 5px; text-transform: uppercase; font-weight: normal; }
body.home #tagline p strong { color: #fff; font-weight: normal; }

body.home #tagline a#see-demo { right: 170px; }
body.home #tagline a#get-started { right: 30px; }
body.home #tagline a.btn { position: absolute; bottom: 18px;  }

body.home #features { padding: 0 40px 0 41px; height: 295px; }
body.home #features ul { list-style: none; margin: 0px; padding-top: 28px; }
body.home #features ul li.feature { float: left; margin: 0 28px 23px 0; width: 267px; }
body.home #features ul li.feature div.image { float: left; margin: 0 8px 0 0; }
body.home #features ul li.feature h3 { text-shadow: 0 1px 1px #000; color: #fff; font-size: 1.3em; margin: 3px 0 6px 0; font-weight: bold; text-transform: capitalize; }
body.home #features ul li.feature div.text { text-shadow: 0 1px 1px #000; color: #d5d8e5; font-size: 1.2em; }
body.home #features ul li.feature div.text p { margin: 0px; text-shadow: 0 1px 1px #000; color: #d5d8e5; }
body.home #features ul li.last { margin-right: 0px; }

body.home #more-features { height: 41px; position: relative; margin: 0 60px 28px 60px; }
body.home #more-features p { color: #d5d8e5; text-shadow: 0 1px 1px #000; color: #d5d8e5; font-size: 1.1em; margin: 0px; padding: 8px 0; }
body.home #more-features a { position: absolute; right: 0px; top: 8px; color: #1f82bc; text-shadow: 0 1px 1px #000; text-decoration: none; font-size: 1.1em; }
body.home #more-features a:hover { text-decoration: underline; }

body.home #support { height: 87px; position: relative; }
body.home #support a { position: absolute; display: block; top: 0px; width: 230px; height: 79px; outline: none; text-decoration: none; }
body.home #support a em { position: absolute; top: 16px; left: 25px; background: transparent url("/images/icons.png") no-repeat 0 0; width: 46px; height: 45px; }
body.home #support a span { display: block;  margin: 20px 10px 0 80px; color: #8b8d9a; text-decoration: none; font-size: 1.1em; text-shadow: 0px 1px 1px #000;}
body.home #support a:hover span { color: #eee; }

body.home #support a.twitter { left: 7px; }
body.home #support a.twitter em { top: 23px; height: 31px; width: 43px; background-position: 0 -115px; }
body.home #support a.twitter:hover em { background-position: -43px -115px; }
body.home #support a.documentation { left: 243px; }
body.home #support a.documentation em { width: 34px; }
body.home #support a.documentation:hover em { background-position: -34px 0px; }
body.home #support a.help { left: 463px; }
body.home #support a.help span { margin-left: 90px; }
body.home #support a.help em { top: 21px; width: 45px; height: 38px; background-position: 0 -46px; }
body.home #support a.help:hover em { background-position: -45px -46px; }
body.home #support a.contact { left: 690px; }
body.home #support a.contact span { margin-left: 85px; }
body.home #support a.contact em { top: 24px; height: 30px; background-position: 0 -84px; }
body.home #support a.contact:hover em { background-position: -46px -84px; }

body.home #articles { position: relative; margin-top: 20px; height: 320px; background: transparent url("/images/home/blog_bg.jpg") no-repeat 0 0; padding: 1px 30px 0 31px; }
body.home #articles p.error { text-align: center; font-size: 1.4em; margin: 20 100px 0 100px; }
body.home #articles p.error a { color: #1F82BC; text-decoration: none; }
body.home #articles p.error a:hover { color: #; text-decoration: underline; }
body.home #articles h2 { font-size: 1.9em; font-weight: bold; font-family: 'Adelle'; font-style: italic; color: #2a2b33; margin: 25px 0 10px 0; }
body.home #articles ul { list-style: none; }
body.home #articles ul li.article { float: left; margin: 0 20px 0 0; width: 267px; }
body.home #articles ul li.article h3 { font-size: 1.4em; margin: 0 0 6px 0; }
body.home #articles ul li.article h3 a { font-weight: bold; color: #1f82bc; text-shadow: 0px 1px 1px #fff; text-decoration: none; }
body.home #articles ul li.article p.date { font-size: 1em; color: #8b8d9a; text-shadow: 0px 1px 1px #fff; margin: 0 0 6px 0; }
body.home #articles ul li.article div.body { font-size: 1.2em; color: #333; text-shadow: 0px 1px 1px #fff; margin: 0px; }

body.home #articles a.more-posts { position: absolute; bottom: 30px; right: 30px; }

body.home #crew { margin: 20px 0 0 1px; }
body.home #crew .box-middle { padding: 10px 30px 0 31px; }
body.home #crew h2 { font-size: 1.9em; font-weight: bold; font-family: 'Adelle'; font-style: italic; color: #2a2b33; margin: 0px 0 15px 0; }
body.home #crew ul { list-style: none; }
body.home #crew ul li.person { float: left; width: 270px; margin-right: 26px; }
body.home #crew ul li.third { margin-right: 0px; }
body.home #crew h3 { margin: 14px 0 8px 0; }
body.home #crew h3 a { font-size: 0.8em; color: #1f82bc; text-decoration: none; text-shadow: 0px 1px 1px #fff; font-weight: bold; }
body.home #crew h4 { font-size: 1.1em; color: #8b8d9a; text-shadow: 0px 1px 1px #fff; font-weight: bold; }
body.home #crew div.body { color: #333; font-size: 1.2em; text-shadow: 0px 1px 1px #fff; }
body.home #crew div.body a { color: #1f82bc; text-decoration: none; }

body.home #engine { margin: 20px 0 0 1px; }
body.home #engine .box-middle { padding: 10px 30px 10px 31px; min-height: 100px; }
body.home #engine h2 { font-size: 1.9em; font-weight: bold; font-family: 'Adelle'; font-style: italic; color: #2a2b33; margin: 0px 0 15px 0; }
body.home #engine p { color: #333; font-size: 1.2em; text-shadow: 0px 1px 1px #fff; }
body.home #engine ul { list-style: none; }
body.home #engine ul li { margin-bottom: 10px; padding-right: 10px; }
body.home #engine ul li a { display: block; font-size: 1.2em; color: #1f82bc; text-decoration: none; text-shadow: 0px 1px 1px #fff; font-weight: bold; }
body.home #engine ul li em { font-size: 1em; color: #8b8d9a; text-shadow: 0px 1px 1px #fff; margin: 0 0 6px 0; }






​