body > footer {
  font-family: "Lucida Grande";
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 80px;
  border-top: 1px solid #f3f5f7;

  h4 {
    font-family: "Avenir Next";
    font-size: 18px;
    font-weight: 300;
  }

  p {
    color: #7b8591;
  }

  a {
    color: #7b8591;
    &:hover {
      color: #7b8591;
      text-decoration: underline;
    }
  }

  .resources {
    h4 {
      color: #ec6124;
    }

    ul {
      margin-top: 20px;
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 5px 0px;
      }
    }
  }

  .legal {
    p {
      font-size: 12px;

      span {
        margin-left: 30px;
      }
    }
  }

  .social {
    a {
      i {
        font-size: 20px;
      }

      &:hover {
        color: #ec6124;
      }
    }
  }
}
