body#index-page .header { background-position: 0 0; }

body#index-page #page-wrapper .content { padding: 0px 4px; position: relative; margin-top: -1px; }

body#index-page #page-wrapper .content h2 {
  color: #686971;
  font-size: 1.3em;
  font-weight: 300;
}

body#index-page #page-wrapper .content h2 span {
  color: #caccd5;
}

body#index-page .right-sidebar {
  margin-top: 10px;
}

/* ___ bushido ___ */

body#index-page #bushido {
  margin: 0 auto;
}

/* ___ tech specs ___ */

body#index-page #technical-specs {
  float: none;
  margin-top: 52px;
}

/* ___ tagline ___ */

body#index-page #locomotive-picture {
  position: absolute;
  top: -60px;
  left: 3px;
  width: 493px;
  height: 265px;
  background: transparent url(/images/home/loco.png) no-repeat 0 0;
  z-index: 996;
}

body#index-page #tagline {
  z-index: 995;
  position: relative;
  height: 202px;
  background: #b41538;
  background: -webkit-gradient(linear, left top, left bottom, from(#e02655), to(#85041a));
  background: -moz-linear-gradient(90deg, #85041a, #e02655);
  border-bottom: 1px solid #fff;
}

body#index-page #tagline .text {
  padding: 26px 50px 0 465px;
}

body#index-page #tagline .text p {
  font-size: 1.5em;
  color: #f1c1cd;
  text-shadow: 0px 1px 1px #000;
  line-height: 1.6em;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

body#index-page #tagline .text p b {
  color: #fff;
  font-weight: normal;
}

body#index-page #tagline .actions {
  position: absolute;
  right: 50px;
  bottom: 0px;
  padding: 0 10px;
  height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 0 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0 0px 0 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(255, 255, 255, 1);
}

body#index-page #tagline .actions a {
  position: relative;
  top: 11px;
  margin: 0px 5px;
}

body#index-page #features,
body#index-page #testimonial,
body#index-page #page-wrapper.wo-sidebar .inner .sep { padding: 0px; margin-right: 290px; }

body#index-page #page-wrapper.wo-sidebar .inner .sep {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* ___ features ___ */

body#index-page #features ul { list-style: none; margin: 0px; padding-top: 28px; }
body#index-page #features ul li.feature { float: left; margin: 0 28px 23px 0; width: 267px; }
body#index-page #features ul li.feature div.image { float: left; margin: 0 8px 0 0; }
body#index-page #features ul li.feature h3 { text-shadow: 0 1px 1px #fff; color: #444; font-size: 1.1em; margin: 3px 0 6px 0; font-weight: bold; text-transform: capitalize; background: none; padding-bottom: 0px; }
body#index-page #features ul li.feature div.text, body#index-page #features ul li.feature div.text p {
  text-shadow: 0 1px 1px #fff; color: #707380; font-size: 1em;}
body#index-page #features ul li.feature div.text p { margin: 0px; }
body#index-page #features ul li.last { margin-right: 0px; }
body#index-page #features ul li.clear { clear: left; }

body#index-page #features .more {
  position: relative;
  background: #cfd2da;
  padding: 4px 12px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

body#index-page #features .more p {
  font-weight: 100;
  color: #686971;
  margin: 0px;
}

body#index-page #features .more a { position: absolute; right: 12px; top: 5px; color: #1f82bc; text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4); text-decoration: none; font-size: 0.8em; }
body#index-page #features .more a:hover { text-decoration: underline; }

/* ___ testimonial ___ */

body#index-page #testimonial .text {
  position: relative;
  background: #cfd2da;
  padding: 8px 12px;
  font-weight: 100;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

body#index-page #testimonial .who {
  color: #707380;
  font-size: 0.9em;
  text-align: right;
}

body#index-page #testimonial .who span {
  display: inline-block;
  background: transparent url(/images/home/bubble.png) no-repeat 0 0;
  padding: 5px 0 0 15px;
  color: #1f82bc;
}

/* ___ articles ___ */

body#index-page #articles { position: relative; }
body#index-page #articles p.error { text-align: center; font-size: 1.4em; margin: 20 100px 0 100px; }
body#index-page #articles p.error a { color: #1F82BC; text-decoration: none; }
body#index-page #articles p.error a:hover { color: #; text-decoration: underline; }
body#index-page #articles h2 { font-size: 1.9em; font-weight: bold !important; color: #2a2b33; margin: 25px 0 30px 0; }
body#index-page #articles ul { list-style: none; }
body#index-page #articles ul li.article { float: left; margin: 0 20px 0 0; width: 266px; font-weight: 100; }
body#index-page #articles ul li.article h3 { font-size: 1.2em; margin: 0 0 6px 0; background: none; padding-bottom: 0px; }
body#index-page #articles ul li.article h3 a { color: #1f82bc; text-shadow: 0px 1px 0px #fff; text-decoration: none; }
body#index-page #articles ul li.article p.date { font-weight: 400; font-size: 0.8em; color: #8b8d9a; text-shadow: 0px 1px 1px #fff; margin: 0 0 6px 0; }
body#index-page #articles ul li.article div.body { font-size: 1em; color: #707380; text-shadow: 0px 1px 1px #fff; margin: 0px; }
body#index-page #articles .more {
  margin-top: 10px;
  text-align: right;
}
body#index-page #articles .more a {
  display: inline-block;
  position: relative;
  background: #cfd2da;
  padding: 4px 12px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  color: #1f82bc;
  text-decoration: none;
}
body#index-page #articles .more a:hover {
  text-decoration: underline;
}

/* ___ support ___ */

body#index-page #support { height: 87px; position: relative; background-position: 0 -32px; }
body#index-page #support a { position: absolute; display: block; top: 0px; width: 230px; height: 79px; outline: none; text-decoration: none; }
body#index-page #support a em { position: absolute; top: 16px; left: 25px; background: transparent url("/images/icons.png") no-repeat 0 0; width: 46px; height: 45px; }
body#index-page #support a span { display: block;  margin: 20px 10px 0 80px; color: #8b8d9a; text-decoration: none; font-size: 1.1em; text-shadow: 0px 1px 1px #000;}
body#index-page #support a:hover span { color: #eee; }

body#index-page #support a.twitter { left: 7px; }
body#index-page #support a.twitter em { top: 23px; height: 31px; width: 43px; background-position: 0 -115px; }
body#index-page #support a.twitter:hover em { background-position: -43px -115px; }
body#index-page #support a.documentation { left: 249px; }
body#index-page #support a.documentation em { width: 34px; }
body#index-page #support a.documentation:hover em { background-position: -34px 0px; }
body#index-page #support a.help { left: 487px; }
body#index-page #support a.help span { margin-left: 90px; }
body#index-page #support a.help em { top: 21px; width: 45px; height: 38px; background-position: 0 -46px; }
body#index-page #support a.help:hover em { background-position: -45px -46px; }
body#index-page #support a.contact { left: 727px; }
body#index-page #support a.contact span { margin-left: 85px; }
body#index-page #support a.contact em { top: 24px; height: 30px; background-position: 0 -84px; }
body#index-page #support a.contact:hover em { background-position: -46px -84px; }