// =============================================================================
// Footer
// =============================================================================

footer {
  padding: 70px 0;
  background: $white;
  border-top: 1px solid $base-border-color;
}

.footer-links {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  li {
    display: block;
    margin: 5px 0;
    a {
      color: $gray;
      transition: color $base-transition-speed linear;
      &:hover {
        color: $gray-darker;
      }
    }
  }
}

.footer-brand {
  display: inline-block;
  width: 100%;
  max-width: 150px;
}

.footer-copy {
  display: inline-block;
  margin-top: 50px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
}
