{% extends 'parent' %}

{% block page_inner %}

<h4>Our custom tool to build Locomotive sites quickly.</h4>

<br/>

<p>Note: This tool is a <b>non-free</b> module. You can purchase it from this <a href="/modules/locomotive_editor">page</a>. You will then receive an email with your id and your license key.</p>

<p class="step"><em>1.</em> Add our modules source</p>
<pre class="shell"><code class="shell">gem sources -a http://&lt;your id&gt;:&lt;your license key &gt;@modules.locomotivecms.com</code></pre>


<p class="step"><em>2.</em> Install the Locomotive Editor</p>
<pre class="shell"><code class="shell">gem sources gem install locomotive_editor</code></pre>

<p><b>Note:</b> The following command displays the list of all the commands available in the editor</p>
<pre class="shell"><code class="shell">locomotive --help</code></pre>

<p class="step"><em>3.</em> Create a folder in which you will group all your Locomotive sites</p>
<pre class="shell"><code class="shell">mkdir &lt;your sites repository&gt;<br/>cd &lt;your sites repository&gt;</code></pre>

<p class="step"><em>4.</em> Initialize a new website</p>
<pre class="shell"><code class="shell">locomotive create --name=my_first_website</code></pre>

<p><b>Note a) :</b> You can ask the tool to integrate sass / compass with your site. You can also use Blueprint (CSS framework).</p>
<pre class="shell"><code class="shell">locomotive create --name=my_first_website --sass</code></pre>
<pre class="shell"><code class="shell">locomotive create --name=my_first_website --sass --blueprint</code></pre>

<p><b>Note b) :</b> At this point, you could version your website with GIT or SUBVERSION.</p>

<p class="step"><em>5.</em> Launch the Locomotive webserver</p>
<pre class="shell"><code class="shell">locomotive run<br/></code></pre>
<p><b>Note:</b>
  Open your browser at the following address: http://127.0.0.1:4567
  <br/>If you created more than one website in your folder, then you will have a select field at the top right of your screen allowing you to see the other sites.</p>

<p class="step"><em>6.</em> Edit your website with Textmate, Vi, Emacs, whatever and refresh your browser to see your changes !</p>
<pre class="shell"><code class="shell">mate my_first_website/</code></pre>

<p class="step"><em>7.</em> Once you are done, you can generate your release. Your SASS stylesheets will be compacted, the useless .git folder will be removed as well, ...etc. The zip is located in the <b>releases</b> folder of your site.</p>
<pre class="shell"><code class="shell">locomotive zip --name=my_first_website</code></pre>

<p class="step"><em>8.</em> Import your site in your Locomotive instance. See this <a href="/support/howto/import">page</a> to do it.</p>

{% endblock %}

