---
{
  "name": "Clients",
  "class": "section-clients has-top-divider",
  "icon": "list",
  "keep_name": true,
  "keep_icon": true,
  "blocks_label": "List",
  "settings": [
    {}
  ],
  "blocks": [
    {
      "name": "Client",
      "type": "client",
      "settings": [
        {
          "label": "Name",
          "id": "name",
          "type": "text"
        },
        {
          "label": "Logo",
          "id": "logo",
          "type": "image_picker"
        }
      ]
    }
  ],
  "dropzone_presets": [
    {
      "name": "Clients",
      "category": "Content",
      "settings": {
      },
      "blocks": [
        {
          "type": "client",
          "settings": {
            "name": "European Resuscitation Council",
            "logo": "/samples/sections/erc.png"
          }
        },
        {
          "type": "client",
          "settings": {
            "name": "Niko Group",
            "logo": "/samples/sections/nikogroup.png"
          }
        },
        {
          "type": "client",
          "settings": {
            "name": "University of Chicago",
            "logo": "/samples/sections/universitychicago.png"
          }
        },
        {
          "type": "client",
          "settings": {
            "name": "UpGlobal",
            "logo": "/samples/sections/upglobal.png"
          }
        }
      ]
    }
  ]
}
---
<div class="container">
  <div class="clients">
    {% for block in section.blocks %}
      <img src="{{ block.settings.logo | resize: 'x120' }}" alt="{{ block.settings.name }}" {{ block.locomotive_attributes }} />
    {% endfor %}
  </div>
</div>

