---
{
  "name": "Simple call to action",
  "class": "section-simple-cta",
  "icon": "text",
  "keep_name": false,
  "keep_icon": true,
  "settings": [
    {
      "label": "Sentence",
      "id": "sentence",
      "type": "text"
    },
    {
      "label": "Button label",
      "id": "button_label",
      "type": "text"
    },
    {
      "label": "Button link",
      "id": "button_link",
      "type": "url"
    }
  ],
  "blocks": [],
  "dropzone_presets": [
    {
      "name": "Simple call to action",
      "category": "Call to action",
      "settings": {
        "sentence": "Sentence",
        "button_label": "Button",
        "button_link": "#"
      },
      "blocks": []
    }
  ]
}
---
<div class="section">
  <div class="container">
    <h2 class="title is-size-3 has-text-centered has-text-white">{{ section.settings.sentence }}</h2>
    <div class="has-text-centered">
      <a class="button is-link" href="{{ section.settings.button_link }}" {{ section.settings.button_link.new_window_attribute }}>
        {{ section.settings.button_label }}
      </a>
    </div>
  </div>
</div>
