---
{
  "name": "Simple hero",
  "class": "section-simple-hero",
  "icon": "text",
  "keep_name": false,
  "keep_icon": true,
  "settings": [
    {
      "label": "Headline",
      "id": "headline",
      "type": "text"
    },
    {
      "label": "Tagline",
      "id": "tagline",
      "type": "text"
    },
    {
      "label": "Background image",
      "id": "background_image",
      "type": "image_picker"
    }
  ],
  "blocks": [],
  "dropzone_presets": [
    {
      "name": "Simple hero",
      "category": "Hero",
      "settings": {
        "headline": "Headline",
        "tagline": "Tagline"
      },
      "blocks": []
    }
  ]
}
---
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths has-text-centered">
          <h1 class="title has-text-white is-size-1">
            {{ section.settings.headline }}
          </h1>
          <div class="subtitle is-size-4">
            {{ section.settings.tagline }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
