---
title: Page not found
published: true
---
{% extends "layouts/base" %}

{% block 'sections' %}

.section
  .container
    .row
      .col-md-12

        %h3.text-center Page not found

        %hr

        %h4.text-center Sorry, but we didn't find the page you were looking for.

{% endblock %}
