---
title: Blog
published: true
listed: true
position: 6
---
{% extends 'index' %}

{% block 'main' %}

/ {% include 'page_head' %}

#main-blog
  {% assign sidebar_class = 'desktop' %}
  {% include 'sidebar' with sidebar_class %}
  {% paginate contents.articles by 4 %}
  {% for article in paginate.collection %}
  {% include 'article_preview' %}
  {% endfor %}
  {% include 'pagination' %}
  {% endpaginate %}
  {% assign sidebar_class = 'mobile' %}
  {% include 'sidebar' with sidebar_class %}
{% endblock %}