{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}

#main-blog
  {% include 'blog_sidebar' %}
  {% include 'post_preview' %}
  {% include 'post_preview' %}
  {% include 'post_preview' %}
    

  

{% endblock %}