---
title: Comparison
published: true
listed: true
position: 2
---
{% extends 'index' %}

{% block 'main' %}

%section#page-head
  .inner-container
    %h1 Locomotive vs WordPress
    
    %p See why Locomotive CMS is better than WordPress

{% for comparison in contents.comparisons %}
{% include 'comparison_item' %}
{% endfor %}


{% endblock %}