---
title: CMS Comparison
published: true
listed: true
position: 2
---
{% extends 'index' %}

{% block 'main' %}

%section#page-head
  .inner-container
    %h1 Locomotive vs WordPress

    %p See how Locomotive CMS is different from WordPress

{% for comparison in contents.comparisons %}
{% include 'comparison_item' %}
{% endfor %}

%section#conclusion
  .inner-container
    {% editable_long_text "conclusion", priority: 5 %}
    %h3 Why choose Locomotive CMS over a proprietary CMS?

    .four
      .item LocomotiveCMS is open source, which means adoption by more users. More users create a larger community of knowledge and support.
      .item You have access to the source code. If you want to tweak something you can. You're not locked in.
      .item Because of the larger community, bugs are noticed and fixed more quickly. You get to enjoy a more secure site.
      .item Since LocomotiveCMS is open source, we practice complete transparency in our claims. You can verify it for yourself.
    .four
      .item If the development team dies in a plane crash (yeah, we know, macabre humor), LocomotiveCMS will keep on steaming along!
      .item You have the same level of professional support that proprietary solutions offer.
      .item You have the opportunity to contribute your ideas and be a part of something huge. Our management team is accessible and eager to hear your thoughts.
    {% endeditable_long_text %}

{% endblock %}