---
title: Features
published: true
listed: true
position: 5
---
{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}

%nav.subnav
  %ul
    {% for feature in contents.features %}
    %li
      %a{ :href => '#{{ feature._permalink }}' }
        {{ feature.short_name }}
    {% endfor %}

%section#features
  {% for feature in contents.features %}
  {% include 'feature_item' %}
  {% endfor %}


{% endblock %}