---
title: Features
handle: features
seo_title: Features
sections_content: >
  {
    "simple_hero": {
      "settings": {
        "headline": "Our features",
        "tagline": "Focus on what matters: front-end technology, standard development process and no learning time for your client."
      }
    },
    "detailed_features": {
      "settings": {},
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "title": "Multi-site",
            "description": "<p>Multi-site functionality makes launching new sites a breeze.</p><p>With a single instance of LocomotiveCMS, you can manage as many websites as your server can handle.</p><p>You deploy your website by simply pointing the website domain to your LocomotiveCMS server.</p><p>You don't have to go through any additional setup steps like setting up new databases or copying files. It's that simple.</p>",
            "picture": "/samples/sections/feature_multisites.jpg"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Sections",
            "description": "<p>Slice your pages into what we call sections. Sections are UI components that can re-used in other pages.</p><p>As a HTML integrator, you're absolutely free to define any kind of sections for your clients. Just describe the attributes that you want to display in your section as well as the Liquid template and you're good to go.</p><p>As a content editor, building a new page will feel like Lego (c).",
            "picture": "/samples/sections/feature_sections.jpg"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Content types",
            "description": "<p>If you're tired of having to work around posts, pages and articles to create a custom post type, here's some welcome relief. LocomotiveCMS allows you to create content types without imposing a specific pre-built structure.</p><p>Need a page for your band's discography?</p><p>Create a new \"Recording\" content type with a title, year, album cover, and track listing. And you're all set.</p><p>Want your custom types to relate to each other? No problem there either. Where most CMS solutions make it a headache to relate content types to each other, it's a snap in LocomotiveCMS. No SQL needed!</p>",
            "picture": "/samples/sections/feature_content_types.jpg"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Templating",
            "description": "<p>LocomotiveCMS uses Liquid, the exact same template engine as for Shopify, one of the best hosted e-commerce solution in the market.</p><p>Of course, we made something good even better by putting our own spin on templating. We added in the functionality of template inheritance from Python, so now you have even more power and flexibility at your disposal.</p><p>To help speed development, we also created helper tags to embed Google Analytics, resize an image, enable pagination in collections, and grab and display content from an external web service and so much more...</p>",
            "picture": "/samples/sections/feature_templating.jpg"
          }
        }
      ]
    },
    "tabbed_features": {
      "settings": {
        "title": "There is more..."
      },
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "tab_title": "Frontend",
            "title": "Webpack out of the box",
            "description": "<p>Webpack has become the new standard to manage assets in web projects. It is both incredibly powerful but also overwhelming and frustrating for beginners.</p><p>So, when you start a new Wagon site, we bundle Webpack in a way that you only have to focus on writing your CSS and JS.</p>",
            "icon": "fa fa-cloud-download"
          }
        },
        {
          "type": "feature",
          "settings": {
            "tab_title": "Localization",
            "title": "Localization",
            "description": "<p>Your LocomotiveCMS website is at home anywhere in the world. Just define the language or languages you want your site to speak, and with I18n Multi-Language functionality baked in, you're ready to roll.</p><p>Your clients can edit their sites (pages and content entries) in any language. No hay problema.</p>",
            "icon": "fa fa-cloud-download"
          }
        },
        {
          "type": "feature",
          "settings": {
            "tab_title": "SEO",
            "title": "SEO",
            "description": "<p>In LocomotiveCMS, we embed the minimal tools that you will need to make sure you clients web sites are well optimized for Google and all the other engines: url redirections, hreflang annotations for multi-language sites, title for pages and content entries, ...etc.</p>",
            "icon": "fa fa-cloud-download"
          }
        },
        {
          "type": "feature",
          "settings": {
            "tab_title": "Third-party integrations",
            "title": "Google reCaptcha, Authentication, Algolia, ...",
            "description": "<p>Instead of relying on a massive and bloated plugins system to enhance LocomotiveCMS, we chose to build directly in the core of LocomotiveCMS the functionalities that almost any website will require.</p><p>For example, we implemented Google reCaptcha v3 to filter spams. And if you need to protect a part of your site with an authentication system, we've got this as well.</p>",
            "icon": "fa fa-cloud-download"
          }
        }
      ]
    },
    "simple_call_to_action": {
      "settings": {
        "sentence": "Wondering if Locomotive does X,Y or Z?",
        "button_label": "Contact Us!",
        "button_link": "#"
      }
    }
  }
---
{% extends "layouts/base" %}

{% block main %}

  {% section 'simple_hero' %}

  {% section 'detailed_features' %}

  {% section 'tabbed_features' %}

  {% section 'simple_call_to_action' %}

{% endblock %}
