---
title: Features
published: true
listed: true
position: 2
---
{% extends 'index' %}

{% block 'main' %}

%section#page-head
  .inner-container
    %h1 Features
    
  #features-nav-wrapper{ data: { spy: 'affix', 'offset-top' => '225' } }
    %nav.subnav
      %ul.nav
        {% for feature in contents.features %}
        %li
          %a{ href: '#{{ feature._permalink }}' }
            {{ feature.short_name }}
        {% endfor %}

{% for feature in contents.features %}
{% include 'feature_item' %}
{% endfor %}

%section#getting-started-button
  %a{ href: "/101-getting-started/", class: "button" }
    Learn more about LocomotiveCMS

{% endblock %}