---
title: Features
published: true
listed: true
position: 2
---
{% extends 'index' %}

{% block 'main' %}

#features-nav-wrapper{ data: { spy: 'affix', 'offset-top' => '97' } }
  %nav.subnav
    %ul.nav
      {% for feature in contents.features %}
      %li
        %a{ href: '#{{ feature._permalink }}' }
          {{ feature.short_name }}
      {% endfor %}

%section#features
  {% for feature in contents.features %}
  {% include 'feature_item' %}
  {% endfor %}


{% endblock %}