---
title: Gallery
published: false
listed: false
position: 40
---
{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}

#gallery-container
  {% paginate contents.companies by 9 %}
  {% for company in paginate.collection %}
  {% include 'gallery_item' %}
  {% endfor %}
  {% include 'pagination' %}
  {% endpaginate %}

{% endblock %}