!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "initial-scale=1, width=device-width" }
    
    %title {{ page.title }}
    %meta{ :content => "{{ page.meta_description }}", :name => "description" }
    %meta{ :content => "{{ page.meta_keywords }}", :name => "keywords" }
    
    {{ 'screen' | stylesheet_tag }}
    {{ 'jquery-1.8.2.min' | javascript_tag }} 
    {{ 'jquery.tools.min' | javascript_tag }} 
    {{ 'home' | javascript_tag }} 


    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      



      

  %body

    {% include 'nav' %}

    {% block 'main' %}
    %section#home-tagline
      .inner-container
        %header
          %h1
            {% editable_short_text "tagline-title", priority: 15 %}
            Develop your website 50% faster
            {% endeditable_short_text %}
          %blockquote
            {% editable_long_text "tagline-quote-content", priority: 14 %}
            Locomotive is so easy to develop with. It has helped speed up my dev time by two fold, and reduce my hair pulling time by 100%.
            {% endeditable_long_text %}
            %span.quote-author
              {% editable_short_text "tagline-quote-author", priority: 13 %}
              Johnny Appleseed, developer
              {% endeditable_short_text %}
        %a{ :href => "#", :class => "button" }
          FIND OUT HOW
        %a{ :href => "#", :id => "try-out" }
          or Try the Demo
    %section#home-image
      #shadow
      .inner-container
        %img{ :src => "{{ 'home-tagline-screenshot.png' | theme_image_url }}", :alt => "" }
    %section#home-strip
      .inner-container
        #home-strip-content
          %header
            %h1
              %em What is
              LocomotiveCMS
          %span.first-line
            {% editable_short_text "strip-first-line", priority: 12 %}
            LocomotiveCMS is an open source CMS solution for Rails
            {% endeditable_short_text %}
          %span
            {% editable_short_text "strip-second-line", priority: 11 %}
            It's super flexible and integrates with Heroku and Amazon S3
            {% endeditable_short_text %}
            
          
        %a{ :href => "#", :class => "button" }
          TRY THE DEMO
    %section#home-four-cols
      %section.home-column
        %img{ :alt => "", :src => "{{ 'icon-tools.png' | theme_image_url }}" }
        %header
          {% editable_long_text "first-col-title", priority: 10 %}
          Build your website locally. Deploy it instantly
          {% endeditable_long_text %}
        {% editable_long_text "first-col-content", priority: 9 %}
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin dolor vitae est tincidunt congue. Curabitur suscipit, mauris sed aliquam auctor, justo eros varius arcu, in suscipit sem dui nec lorem.
        {% endeditable_long_text %}
      %section.home-column
        %img{ :alt => "", :src => "{{ 'icon-edit.png' | theme_image_url }}" }
        %header
          {% editable_long_text "first-col-title", priority: 8 %}
          Super friendly content editing interface
          {% endeditable_long_text %}
        {% editable_long_text "first-col-content", priority: 7 %}
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin dolor vitae est tincidunt congue. Curabitur suscipit, mauris sed aliquam auctor, justo eros varius arcu, in suscipit sem dui nec lorem.
        {% endeditable_long_text %}
      %section.home-column
        %img{ :alt => "", :src => "{{ 'icon-validate.png' | theme_image_url }}" }
        %header
          {% editable_long_text "first-col-title", priority: 6 %}
          Don't let your client mess up with your  layout
          {% endeditable_long_text %}
        {% editable_long_text "first-col-content", priority: 5 %}
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin dolor vitae est tincidunt congue. Curabitur suscipit, mauris sed aliquam auctor, justo eros varius arcu, in suscipit sem dui nec lorem.
        {% endeditable_long_text %}
      %section.home-column
        %img{ :alt => "", :src => "{{ 'icon-open-source.png' | theme_image_url }}" }
        %header
          {% editable_long_text "first-col-title", priority: 4 %}
          Open Source optimized
          {% endeditable_long_text %}
        {% editable_long_text "first-col-content", priority: 3 %}
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin dolor vitae est tincidunt congue. Curabitur suscipit, mauris sed aliquam auctor, justo eros varius arcu, in suscipit sem dui nec lorem.
        {% endeditable_long_text %}
    %section#home-bottom-title
      %h1
        {% editable_short_text "tagline-title", priority: 2 %}
        Create beautiful sites with LocomotiveCMS
        {% endeditable_short_text %}
    %section#home-bottom-container
      %section#home-bottom-left
        #home-bottom-testimonial-picture
          .rounded-picture
            %img{ :src => "/samples/crew/conan.png", :alt => "" }
        #home-bottom-testimonial
          {% editable_long_text "bottom-text", priority: 1 %}
          %p 
            %em Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. “ 
          %p
            %em John User. Developer, Frontier Group
          {% endeditable_long_text %}
      %section#home-bottom-right
        {% for company in contents.companies %}
        %a{ :href => "http://{{ company.url }}" }
          %img{ :src => "{{ company.logo.url }}", :alt => "{{ company.name }}"}
        {% endfor %}


    {% endblock %}

    {% include "footer" %}