---
title: Home
published: true
listed: false
---
!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]

  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "initial-scale=1, width=device-width" }

    / %title {{ page.title }}
    / %title {{ seo}}
    / %meta{ :content => "{{ page.meta_description }}", :name => "description" }
    / %meta{ :content => "{{ page.meta_keywords }}", :name => "keywords" }
    {% seo %}

    {{ '/fonts/all' | stylesheet_tag }}
    {{ 'screen' | stylesheet_tag }}
    {{ 'jquery-1.8.2.min' | javascript_tag }}
    {{ 'jquery.tools.min' | javascript_tag }}
    {{ 'home' | javascript_tag }}


    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    {% block 'head' %}

    {% endblock %}
  %body

    {% include 'nav' %}

    {% block 'main' %}
    %section#home-tagline
      .inner-container
        {% block tagline %}
        %header
          %h1
            {% editable_short_text "title", priority: 21 %}
            Develop your websites WAY faster
            {% endeditable_short_text %}
          %blockquote
            {% editable_short_text "quote-content", priority: 20 %}
            <b>“</b>LocomotiveCMS is really genious. We are now able to take on projects we had to turn down before.<b>“</b>
            {% endeditable_short_text %}
            %span.quote-author
              {% editable_short_text "quote-author", priority: 19 %}
              Miha, developer
              {% endeditable_short_text %}
        %a{ :href => "/tour", :class => "button" }
          FIND OUT HOW
        / %a{ :href => "#", :id => "try-out" }
        /   or Try the Demo
        {% endblock %}
    %section#home-image
      #shadow
      .inner-container
        %img{ :src => "{% editable_file 'big-screenshot', hint: 'Home screenshot, size: 980x430px', priority: 18 %}/samples/pages/home-tagline-screenshot.png{% endeditable_file %}", :alt => "screenshot"}
    %section#home-strip
      .inner-container
        {% block strip %}
        #home-strip-content
          %header
            %h1
              %em What is
              LocomotiveCMS
          %span.first-line
            {% editable_short_text "first-line", priority: 17 %}
            LocomotiveCMS is a free open source CMS in Rails that helps web developers create and manage websites faster than ever.
            {% endeditable_short_text %}
        {% endblock %}

        %a{ :href => "/tour", :class => "button" }
          TAKE THE TOUR

    %section#home-columns
      {% block 'asset_1' %}
      %section.home-column
        %img{ :src => "{% editable_file 'image', hint: 'round icon, size: 154x154px', priority: 15 %}/samples/pages/icon-tools.png{% endeditable_file %}", :alt => ""}
        %header
          %h1
            {% editable_long_text "title", priority: 14 %}
            Build your website locally. Deploy it instantly.
            {% endeditable_long_text %}
        {% editable_long_text "content", priority: 13 %}
        %p
          Like to keep using your favorite IDE and development tricks? With LocomotiveCMS you work locally just like any web project. You deploy your site whenever you want and can keep track of your code in your SCM.
        {% endeditable_long_text %}
      {% endblock %}

      {% block 'asset_2' %}
      %section.home-column
        %img{ :src => "{% editable_file 'image', hint: 'round icon, size: 154x154px', priority: 12 %}/samples/pages/icon-edit.png{% endeditable_file %}", :alt => ""}
        %header
          %h1
            {% editable_long_text "title", priority: 11 %}
            Super friendly content editing interface
            {% endeditable_long_text %}
        {% editable_long_text "content", priority: 10 %}
        %p
          Your client should be able to edit the content without any training or any skills.
          The author interface provides non-technical, simple and meaningful options, and most of the content can be edited directly inline. Just switch to editing mode.
        {% endeditable_long_text %}
      {% endblock %}

      {% block 'asset_3' %}
      %section.home-column
        %img{ :src => "{% editable_file 'image', hint: 'round icon, size: 154x154px', priority: 9 %}/samples/pages/icon-validate.png{% endeditable_file %}", :alt => ""}
        %header
          %h1
            {% editable_long_text "title", priority: 8 %}
            Don't let your client mess up with your layout
            {% endeditable_long_text %}
        {% editable_long_text "content", priority: 7 %}
        %p
          … and don’t mess up with the content. Designers can change design, authors can change content. You can keep your development methods, like source code tracking and local development. Don’t be afraid to modify the layout, it won’t affect the content.
        {% endeditable_long_text %}
      {% endblock %}

      {% block 'asset_4' %}
      %section.home-column
        %img{ :src => "{% editable_file 'image', hint: 'round icon, size: 154x154px', priority: 6 %}/samples/pages/icon-open-source.png{% endeditable_file %}", :alt => ""}
        %header
          %h1
            {% editable_long_text "title", priority: 5 %}
            Open Source with professional support
            {% endeditable_long_text %}
        {% editable_long_text "content", priority: 4 %}
        %p
          The community helps us build a secured and well-tested CMS. Extend the code to fit your needs, and rely on the community to get help on our forum. And if you need more help, we offer professional support.
        {% endeditable_long_text %}
      {% endblock %}

    {% block 'bottom' %}
    %section#home-bottom-title
      %h1
        {% editable_short_text "title", priority: 3 %}
        Create beautiful sites with LocomotiveCMS
        {% endeditable_short_text %}
    %section#home-bottom-container
      %section#home-bottom-left

        #home-bottom-testimonial
          .rounded-picture
            %img{ :src => "{% editable_file 'testimonial-img', hint: 'Home screenshot, size: 980x430px', priority: 2 %}/samples/crew/jobs.png{% endeditable_file %}", :alt => ""}
          {% editable_long_text "testimonial-content", priority: 1 %}
          %p
            %em Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. “
          %p
            %em John User. Developer, Frontier Group
          {% endeditable_long_text %}
      %section#home-bottom-right
        {% for company in contents.companies %}
        %a{ :href => "http://{{ company.url }}" }
          %img{ :src => "{{ company.logo.url }}", :alt => "{{ company.name }}"}
        {% endfor %}
    {% endblock %}


    {% endblock %}

    {% include "footer" %}