---
title: Home
published: true
listed: false
---
!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 8]><!
%html.no-js{lang: "en"}
  / <![endif]

  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "viewport", content: "initial-scale=1, width=device-width" }

    {{ '/articles/rss.xml' | auto_discovery_link_tag }}

    %link{ href: "{{ 'favicon.ico' | theme_image_url }}", rel: 'shortcut icon', type: 'image/vnd.microsoft.icon' }

    %link{ rel: 'author', href: 'https://google.com/+DidierLafforgue/posts' }

    {% seo %}

    <!--[if lt IE 9]>
    {{ 'html5shiv' | javascript_tag }}
    <![endif]-->

    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800', rel: 'stylesheet', type: 'text/css'}
    {{ 'screen' | stylesheet_tag }}
    {{ 'jquery.bxslider' | stylesheet_tag }}

    {{ 'jquery-1.9.1.min' | javascript_tag }}
    {{ 'bootstrap.min' | javascript_tag }}
    {{ 'jquery.bxslider.min' | javascript_tag }}
    {{ 'home' | javascript_tag }}

    {% include twitter %}

    {% block 'head' %}

    {% endblock %}

    {% include mixpanel %}

    {% inline_editor %}

  %body{ data: { spy: 'scroll', target: 'nav.subnav' } }
    {% include 'nav' %}

    {% block 'main' %}
    %section#home-tagline
      .inner-container
        %header
          %h1
            {% editable_short_text "title", priority: 21 %}
            What if you loved developing for your CMS as much as your clients loved using it?
            {% endeditable_short_text %}
        %a{ href: "/tour", class: "button" }
          GET STARTED
      #shadow
      .image-container
        .topbar
          Open Source CMS for Rails
        %img{ src: "{% editable_file 'big-screenshot', hint: 'Home screenshot, size: 980x430px', priority: 18 %}/samples/pages/home-tagline-screenshot.jpg{% endeditable_file %}", alt: "screenshot" }
        
    %section#home-strip
      .inner-container
        #home-strip-content
          %header
            %h1
              %em What is
              LocomotiveCMS
          %span
            {% editable_short_text "first-line", priority: 17 %}
            LocomotiveCMS is designed to save your time and help you focus on what matters: front-end technology, standard development process and no-learning time for your client.
            {% endeditable_short_text %}

        %a{ href: "http://doc.locomotivecms.com/get-started/what-is-locomotivecms", class: "button" }
          Get started

    {% block features %}
    %section#home-columns
      .inner-container
        %section.home-column
          %img{ src: "{% editable_file 'image_1', hint: 'icon, size: 77x77px', priority: 15 %}/samples/pages/icon-tools-sm.png{% endeditable_file %}", alt: ""}
          %header
            %h4
              {% editable_long_text "title_1", priority: 14 %}
              Build your website locally. Deploy it instantly.
              {% endeditable_long_text %}
            {% editable_long_text "content_1", priority: 13 %}
            %p
              Like to keep using your favorite IDE and development tricks? With LocomotiveCMS you work locally just like any web project. You deploy your site whenever you want and can keep track of your code in your SCM.
            {% endeditable_long_text %}

        %section.home-column
          %img{ src: "{% editable_file 'image_2', hint: 'icon, size: 77x77px', priority: 12 %}/samples/pages/icon-edit-sm.png{% endeditable_file %}", alt: ""}
          %header
            %h4
              {% editable_long_text "title_2", priority: 11 %}
              Super friendly content editing interface
              {% endeditable_long_text %}
            {% editable_long_text "content_2", priority: 10 %}
            %p
              Your client should be able to edit the content without any training or any skills.
              The author interface provides non-technical, simple and meaningful options, and most of the content can be edited directly inline. Just switch to editing mode.
            {% endeditable_long_text %}

      .inner-container
        %section.home-column
          %img{ src: "{% editable_file 'image_3', hint: 'icon, size: 77x77px', priority: 9 %}/samples/pages/icon-validate-sm.png{% endeditable_file %}", alt: ""}
          %header
            %h4
              {% editable_long_text "title_3", priority: 8 %}
              Don't let your client mess up with your layout
              {% endeditable_long_text %}
            {% editable_long_text "content_3", priority: 7 %}
            %p
              … and don’t mess up with the content. Designers can change design, authors can change content. You can keep your development methods, like source code tracking and local development. Don’t be afraid to modify the layout, it won’t affect the content.
            {% endeditable_long_text %}

        %section.home-column
          %img{ src: "{% editable_file 'image_4', hint: 'icon, size: 77x77px', priority: 6 %}/samples/pages/icon-open-source-sm.png{% endeditable_file %}", alt: ""}
          %header
            %h4
              {% editable_long_text "title_4", priority: 5 %}
              Open Source with professional support
              {% endeditable_long_text %}
            {% editable_long_text "content_4", priority: 4 %}
            %p
              The community helps us build a secured and well-tested CMS. Extend the code to fit your needs, and rely on the community to get help on our forum. And if you need more help, we offer professional support.
            {% endeditable_long_text %}

    {% endblock features %}

    %section#home-cred
      .inner-container
        %h1.underscored
          %span
            {% editable_short_text "sponsors-header", priority: 31 %}
            They trust LocomotiveCMS.  Try if for yourself.
            {% endeditable_short_text %}

        .column
          %img{ src: "{% editable_file 'sponsor-image1', hint: 'sponsor image, size: 200x50px', priority: 30 %}/samples/pages/sponsors-bbc-logo.png{% endeditable_file %}", alt: "BBC"}
        .column
          %img{ src: "{% editable_file 'sponsor-image2', hint: 'sponsor image, size: 200x50px', priority: 30 %}/samples/pages/sponsors-orange-logo.png{% endeditable_file %}", alt: "Orange"}
        .column
          %img{ src: "{% editable_file 'sponsor-image3', hint: 'sponsor image, size: 200x50px', priority: 30 %}/samples/pages/sponsors-wattman-logo.png{% endeditable_file %}", alt: "Wattman"}

        .button-container
          %a{ href: "http://doc.locomotivecms.com/get-started/what-is-locomotivecms", class: "button" }
            Try LocomotiveCMS Free!

    %section#home-tests
      .inner-container
        %h1.underscored
          %span
            {% editable_short_text "testimonials-header", priority: 32 %}
            See what delighted LocomotiveCMS users are saying
            {% endeditable_short_text %}

        %ul.bxslider
          {% for testimonial in contents.testimonials %}
          {% assign position_in_row = forloop.index | modulo: 3 %}
          %li.column
            .rounded-picture
              {% if testimonial.url != empty %}
              %a{ href: "{{ testimonial.url }}", target: "_blank" }
                %img{ :src => "{{ testimonial.picture.url | resize: '100x100#' }}", :alt => "{{ testimonial.name }}" }
              {% else %}
              %img{ :src => "{{ testimonial.picture.url | resize: '100x100#' }}", :alt => "{{ testimonial.name }}" }
              {% endif %}

            %blockquote {{ testimonial.body }}

            %p.quote-author {{ testimonial.name }}

            %p.quote-author-cred {{ testimonial.credentials }}

            {% if testimonial.page_link != empty %}
            %a.testimonial-link{ href: "{{ testimonial.page_link }}" }
              Read more
            {% endif %}
          {% endfor %}

    {% endblock %}

    {% include "footer" %}

    :javascript
      var _dcq = _dcq || [];
      var _dcs = _dcs || {};
      _dcs.account = '7881253';

      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true;
        dc.src = '//tag.getdrip.com/7881253.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    {% google_analytics 'UA-17355243-1' %}
