{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}
%nav.subnav
  %ul
    %li
      %a{ :href => "#" }
        Locomotive Editor
    %li
      %a{ :href => "#" }
        Hosting Solution
    %li
      %a{ :href => "#" }
        Paid Support

%section.princing-detail-container
  %section.pricing-detail-item
    %section
      %header
        %h1 Locomotive Editor, Desktop version
        %span.tagline Chances are you charge your clients somewhere between $75 and $120/hour. 
      %p
        Remember, The Editor will help you develop your website up to 70% faster than other CMS. That means that at $69 per year, you have your return on investment after  1 hour only! 
      %p
        3 other reasons blabla
    %aside
      %a{ :href => "#", :class => "paypal" }
        BUY NOW 39$ : PAYPAL
      .slideshow
        %img{ :src => "http://placehold.it/350x350", :alt => "" }
%section.princing-faq-container
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}
  {% include 'pricing_faq_item' %}


{% endblock %}