{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}
%nav.subnav
  %ul.tabs
    %li
      %a{ :href => "#" }
        Locomotive Editor
    %li
      %a{ :href => "#" }
        Paid Support
  %ul
    %li
      %a{ :href => "http://www.google.fr" }
        Hosting Solution
    
%section.princing-detail-container.panes
  %section.pricing-detail-item
    %section
      %header
        %h1 Locomotive Editor, Desktop version
        %span.tagline Chances are you charge your clients somewhere between $75 and $120/hour. 
      %p
        Remember, The Editor will help you develop your website up to 70% faster than other CMS. That means that at $69 per year, you have your return on investment after  1 hour only! 
      %p
        %b 3 Reasons to purchase the Locomotive Editor :
      %img{ :src => "{{ 'thirty_days_guaranteed.png' | theme_image_url }}" }
      %ul
        %li Unordered List item example
        %li Unordered List  ermentumet item example
        %li Unordered  erment  metListm example

      %p And if you do not think that the Locomotive Editor is a time saver, you’ll get your money back. So jump on the wagon and purchase your Locomotive Editor now! 

      %p Have you been referred by an enthusiastic friend? Don’t forget to enter your coupon code at checkout.
    %aside
      %a{ :href => "#", :class => "paypal" }
        BUY NOW 39$ 
        = "|"
        %img{ :src => "{{ 'paypal.png' | theme_image_url }}" }
      .slideshow
        %img{ :src => "http://placehold.it/350x350", :alt => "" }

  %section.pricing-detail-item
    %section
      %header
        %h1 Hosting solution
        %span.tagline Problem to make this a real link and not a tab

  %section.pricing-detail-item
    %section
      %header
        %h1 Paid support
        %span.tagline Tagline blablabla
      %p
        Text blablabla

%section.princing-faq-container
  {% for question in contents.questions %}
  {% include 'pricing_faq_item' %}
  {{ forloop.length/2 }}
  {% endfor %}

{% endblock %}