---
title: Pricing
seo_title: "The number one Content Management System"
meta_description:
published: true
handle: pricing
slug: pricing
---

{% extends "layouts/base" %}

{% block main %}
  <header>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation %}
        <div class="header-content is-small">
          <h1>Simple pricing for everyone</h1>
          <p>Locomotive is open and free to use for anyone. We offer a hosted solution with heaps of benefits.</p>
        </div>
      </div>
    </div>
  </header>

  <section class="section-dark">
    <div class="grid grid-centered">
      <div class="grid-cell with-4col">
        <div class="block">
          <h5>Personal</h5>
          <div class="block-price">
            <i>$</i>
            <h1>19</h1>
            <span>each month</span>
          </div>
          <ul class="block-list">
            <li>
              <strong>1 site</strong>
            </li>
            <li>
              <strong>1GB Storage</strong>
            </li>
            <li>
              <strong>25.000 pageviews</strong>
            </li>
            <li>
              Automatic updates
            </li>
            <li>
              Assets served through CDN
            </li>
            <li>
              Secured back-office
            </li>
            <li>
              SSL certificate for each site
            </li>
            <li>
              Email support
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-cell with-4col">
        <div class="block">
          <h5>Freelancer</h5>
          <div class="block-price">
            <i>$</i>
            <h1>69</h1>
            <span>each month</span>
          </div>
          <ul class="block-list">
            <li>
              <strong>Unlimited sites</strong>
            </li>
            <li>
              <strong>3GB Storage</strong>
            </li>
            <li>
              <strong>150.000 pageviews</strong>
            </li>
            <li>
              Automatic updates
            </li>
            <li>
              Assets served through CDN
            </li>
            <li>
              Secured back-office
            </li>
            <li>
              SSL certificate for each site
            </li>
            <li>
              Email and Skype support
            </li>
            <li>
              Priority support
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-cell with-4col">
        <div class="block">
          <h5>Agency</h5>
          <div class="block-price">
            <i>$</i>
            <h1>149</h1>
            <span>each month</span>
          </div>
          <ul class="block-list">
            <li>
              <strong>Unlimited sites</strong>
            </li>
            <li>
              <strong>5GB Storage</strong>
            </li>
            <li>
              <strong>500.000 pageviews</strong>
            </li>
            <li>
              Automatic updates
            </li>
            <li>
              Assets served through CDN
            </li>
            <li>
              Secured back-office
            </li>
            <li>
              SSL certificate for each site
            </li>
            <li>
              Account manager
            </li>
            <li>
              Priority support
            </li>
            <li>
              White label
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
