{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}
%nav.subnav
  %ul
    %li
      %a{ :href => "#" }
        Source Code
    %li
      %a{ :href => "#" }
        Quick start guide
    

{% endblock %}