{% extends parent %}

{% block page_wrapper_class %}support{% endblock %}

{% block page_header %}

  {% nav 'support' %}

{% endblock %}

{% block page_title %}

  <h2>{{ page.title }}</h2>

{% endblock %}

{% block page_inner %}

  <p>Content goes here</p>

{% endblock %}

{% block page_footer %}

  <div class="footer">&nbsp;</div>

{% endblock %}