---
title: Terms of use
handle: terms-of-use
---
{% extends "layouts/base" %}

{% block 'sections' %}
.section
  .container
    .row
      .col-md-12

        %h3.text-center Terms of use

        %hr

        {% editable_text "text" %}
        <p>
        Last updated March 29, 2013.
        </p>
        <br>
        <section>
        <header>1. User's Acknowledgment and Acceptance of Terms</header>
        <p>
        NoCoffee SARL ("Us" or "We") provides the www.locomotivecms.com, www.doc.locomotivecms.com and www.locomotivehosting.com  websites and various related services (collectively, the "site", or “services”) to you, the user, subject to your compliance with all the terms, conditions, and notices contained or referenced herein (the "Terms of Use"), as well as any other written agreement between us and you. By using this site, you agree to be bound by these terms of use.
        <br>
        We expressly reserve the right to change these Terms of Use from time to time without notice to you. You acknowledge and agree that it is your responsibility to review this site and these Terms of Use from time to time and to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgement of the modified Terms of Use and agrement to abide and be bound by the modified Terms of Use.
        </p>
        </section>
        <section>
        <header>2. Description of Services</header>
        <p>
        We make various services available on this site including, but not limited to content management solutions,  website hosting, and other like services.
        <br>
        We reserve the sole right to either modify or discontinue the site, including any of the site’s features, at any time with or without notice to you. We will not be liable to you or any third party should we exercise such right. Any new features that augment or enhance the then-current services on this site shall also be subject to these Terms of Use.
        </p>
        </section>
        <section>
        <header>3. Registration Data and Privacy</header>
        <p>
        In order to access some of the services on this site, you will be required to use an account and password that can be obtained by completing our online registration form, which requests certain information and data ("Registration Data"), and maintaining and updating your Registration Data as required. By registering, you agree that all information provided in the Registration Data is true and accurate and that you will maintain and update this information as required in order to keep it current, complete, and accurate.
        <br>
        The information we obtain through your use of this site, including your Registration Data, is subject to our <a href="/privacy-policy">Privacy Policy</a>.
        </p>
        </section>
        <section>
        <header>4. Conduct on Site</header>
        <p>
        Your use of the site is subject to all applicable laws and regulations, and you are solely responsible for the substance of your communications through the site.
        <br>
        You will not publish content or link to content that:
        </p>
        <ul>
        <li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, contains explicit or graphic descriptions or accounts of sexual acts (including but not limited to sexual language of a violent or threatening nature directed at another individual or group of individuals), or otherwise violates our rules or policies;</li>
        <li>victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;</li>
        <li>infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party;</li>
        <li>constitutes unauthorized or unsolicited advertising, junk or bulk email (also known as "spamming"), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;</li>
        <li>contains software viruses or any other computer code, files, or programs that are designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party; or</li>
        <li>impersonates any person or entity, including any of our employees or representatives.</li>
        </ul>
        <p>
        We neither endorse nor assume any liability for the contents of any material uploaded or submitted by third party users of the site.
        <br>
        <br>
        Moreover, we do not allow any of the following:
        </p>
        <ul>
        <li>You may not use our Services for the sole purpose of file sharing</li>
        <li>You may not access the Service through automated methods. Use of robots or other computer code which calls the Service, except where explicitly allowed, is absolutely forbidden.</li>
        <li>You may not share yourpassword, let anyone else access your account, or do anything that might jeopardize the security of your account.</li>
        <li>You may not attempt to or actually access the Services or Materials by any means other than through the interfaces provided by NoCoffee SARL.</li>
        <li>You may not use your account to breach security of another account or attempt to gain unauthorized access to another network or server.</li>
        <li>You may not attempt to or actually override any security component included in or underlying the Services.</li>
        </ul>
        <p>
        You agree that we may at any time, and at our sole discretion, terminate your membership, account, or other affiliation with our site without prior notice to you for violating any of the above provisions. In addition, you acknowledge that we will cooperate fully with investigations of violations of systems or network security at other sites, including cooperating with law enforcement authorities in investigating suspected criminal violations.
        </p>
        </section>
        <section>
        <header>5. Fees and Payment</header>
        <p>
        You may agree to a one (1) month or twelve (12) month contract agreement with us.
        <br>
        <br>
        At the end of the contract term, your contract will automatically renew for an additional contract term until explicitly cancelled by you. Cancellation must be issued via your Workspace or by email at contact@locomotivehosting.com.
        <br>
        Any cancellation issued via your Workspace must be done at least one (1) day prior to the end of the contract term. Any cancellation not issued via the website manager interface must be done three (3) days prior to the end of the contract term to allow for adequate processing time.
        <br>
        NoCoffee reserves the right to change its price list and to institute new charges at any time, upon notice to you, which may be sent by email or posted on the Website. Your use of the Services following such notification constitutes your acceptance of any new or increased charges.
        </p>
        </section>
        <section>
        <header>6. Intellectual Property</header>
        <p>
        This Agreement does not transfer from NoCoffee to you any NoCoffee or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with NoCoffee. NoCoffee, LocomotiveCMS, www.locomotivecms.com, the LocomotiveCMS logo, and all other trademarks, service marks, graphics and logos used in connection with www.locomotivecms.com, or the Website are trademarks or registered trademarks of NoCoffee or NoCoffee’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any NoCoffee or third-party trademarks.
        </p>
        </section>
        <section>
        <header>7. Disclaimer of Warranties</header>
        <p>
        You acknowledge that NoCoffee has no control over, and no duty to take any action regarding: which users gain access to the Services; what Content you access via the Services; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release NoCoffee from all liability for you having acquired or not acquired Content through the Services. The Services may contain, or direct you to websites or applications containing information that some people may find offensive or inappropriate. NoCoffee makes no representations concerning any content contained in or accessed through the Services, and NoCoffee will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Services. NoCoffee makes no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Services. THE SERVICES CONTENT, WEBSITE AND ANY SOFTWARE ARE PROVIDED ON AN “AS IS” BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED, SECURE OR ERROR-FREE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM NOCOFFEE OR THROUGH THE WEBSITE WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
        </p>
        </section>
        <section>
        <header>8. Limitation of Liability</header>
        <p>
        IN NO EVENT SHALL WE OR OUR AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, PUNITIVE, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THIS SITE OR OF ANY WEB SITE REFERENCED OR LINKED TO FROM THIS SITE.
        <br>
        FURTHER, WE SHALL NOT BE LIABLE IN ANY WAY FOR THIRD PARTY GOODS AND SERVICES OFFERED THROUGH THIS SITE OR FOR ASSISTANCE IN CONDUCTING COMMERCIAL TRANSACTIONS THROUGH THIS SITE, INCLUDING WITHOUT LIMITATION THE PROCESSING OF ORDERS.
        SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
        </p>
        </section>
        <section>
        <header>9.Indemnification</header>
        <p>
        You agree to indemnify and hold harmless NoCoffee, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
        </p>
        </section>
        <section>
        <header>10. Security and Password for personal accounts</header>
        <p>
        You are solely responsible for maintaining the confidentiality of your password and account and for any and all statements made and acts or omissions that occur through the use of your password and account. Therefore, you must take steps to ensure that others do not gain access to your password and account. Our personnel will never ask you for your password. You may not transfer or share your account with anyone, and we reserve the right to immediately terminate your account if you do transfer or share your account.
        </p>
        </section>
        <section>
        <header>11. Participation in Promotions</header>
        <p>
        From time to time, this site may include advertisements offered by third parties. You may enter into correspondence with or participate in promotions of the advertisers showing their products on this site. Any such correspondence or promotions, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties or representations associated with such correspondence or promotions, are solely between you and the advertiser. We assume no liability, obligation or responsibility for any part of any such correspondence or promotion.
        </p>
        </section>
        <section>
        <header>12.Third party Websites</header>
        <p>
        The Services may contain links to third party websites or services (“Third Party Websites”) that are not owned or controlled by NoCoffee. When you access Third Party Websites, you do so at your own risk.
        </p>
        </section>
        <section>
        <header>13. Termination of Use</header>
        <p>
        You agree that we may, in our sole discretion, terminate or suspend your access to all or part of the site with or without notice and for any reason, including, without limitation, breach of these Terms of Use. Any suspected fraudulent, abusive or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.
        <br>
        Upon termination or suspension, regardless of the reasons therefore, your right to use the services available on this site immediately ceases, and you acknowledge and agree that we may immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or this site. We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection with such termination or suspension.
        </p>
        </section>
        <section>
        <header>14. Governing law</header>
        <p>
        This Agreement shall be governed and construed in accordance with the laws of France. The Commercial Court of Paris (“Tribunal de Commerce de Paris”) shall have exclusive jurisdiction to hear any dispute arising out of or in connection with the interpretation and/or performance of this Agreement. However, the Parties acknowledge and agree that in the event that the subject matter of any such dispute is Intellectual Property, NoCoffee shall have the right to bring any such dispute before the French Civil Court having jurisdiction pursuant to the French Code of Civil Procedure ("Nouveau Code de Procédure Civile").
        </p>
        </section>
        <section>
        <header>15. Miscellaneous</header>
        <p>
        The failure of either party to exercise, in any respect, any right provided for herein shall not be deemed a waiver of any further rights hereunder. If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable.
        <br>
        You may not assign your rights and obligations under these Terms of Use to any party, and any purported attempt to do so will be null and void. We may free assign our rights and obligations under these Terms of Use.
        <br>
        You agree not to sell, resell, reproduce, duplicate, copy or use for any commercial purposes any portion of this site, or use of or access to this site.
        <br>
        In addition to any excuse provided by applicable law, we shall be excused from liability for non-delivery or delay in delivery of products and services available through our site arising from any event beyond our reasonable control, whether or not foreseeable by either party, including but not limited to, labor disturbance, war, fire, accident, adverse weather, inability to secure transportation, governmental act or regulation, and other causes or events beyond our reasonable control, whether or not similar to those which are enumerated above.
        <br>
        If any part of these Terms of Use is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.
        <br>
        Any failure by us to enforce or exercise any provision of these Terms of Use or related rights shall not constitute a waiver of that right or provision.
        </p>
        </section>
        <section>
        <header>16. Contact</header>
        <p>
        If you have any questions, or claims with respect to the Services, you may contact us as contact@locomotivecms.com
        </p>
        </section>
        {% endeditable_text %}

{% endblock %}
