---
title: Get started
published: true
listed: true
position: 1
---
{% extends 'index' %}

{% block 'main' %}

%section#page-head
  .inner-container
    %h1
      {% editable_short_text "page-head-title", priority: 1 %}
      Find out why our CMS is so special!
      {% endeditable_short_text %}
    {% editable_long_text "page-head-content", priority: 2 %}
    %p
      LocomotiveCMS offers an innovative way to create and publish websites.
    {% endeditable_long_text %}
    .link
      %a{ href: "http://doc.locomotivecms.com/get-started/what-is-locomotivecms" } Get started

{% for step in contents.steps %}
{% include 'tour_item' %}
{% endfor %}

%section#tour-hosting
  %a{href: "http://www.locomotivehosting.com"} Try our hosting solution

{% endblock %}