---
title: Tour
published: true
listed: true
position: 1
---
{% extends 'index' %}

{% block 'main' %}

%section#page-head
  %section#page-head-content
    %header
      {% editable_short_text "page-head-title", priority: 1 %}
      Find out why our CMS is so special!
      {% endeditable_short_text %}
    {% editable_long_text "page-head-content", priority: 2 %}
    %p
      LocomotiveCMS offers an innovative way to create and publish websites.
    {% endeditable_long_text %}

  %aside
    %a{ href: "http://doc.locomotivecms.com/guides/get-started/requirements" } Get started

{% for step in contents.steps %}
{% include 'tour_item' %}
{% endfor %}

{% endblock %}