.section-features {
  position: relative;
  background: #fff;
  padding: 4rem 0 8rem;

  .feature-list {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .feature-item {
    margin: 0 4rem;

    &-inner {
      height: 100%;
      padding: 4rem 2rem;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 16px 48px #E3E7EB;
        mix-blend-mode: multiply;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      margin: 0 auto;
      background: #1D7AC8;
      border-radius: 2px;

      i {
        color: #fff;
        font-size: 2rem;
      }
    }

    .title {
      margin-top: 2rem;
    }

    &-dots {
      margin-top: 2rem;

      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 2px;
        background: #1D7AC8;
        border-radius: 2px;
      }
    }
  }
}

// Mobile & Tablet
@include until($desktop) {

  .section-features {

    .feature-list {
      flex-direction: column;
      justify-content: space-around;
      margin-top: 3rem;
    }

    .feature-item {
      margin: 0 3rem;
    }

    .feature-item-inner {
      margin: 2rem 0;
    }

  }

}
