.section-header {
  background: linear-gradient(57deg, #9d8fe5 0%, #6750d7 100%);

  .navbar-item {
    position: relative;
    top: 1px;
    text-transform: uppercase;

    span {
      display: block;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 1px #fff;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
    }

    &.is-active, &:hover {
      span {
        color: #fff;
      }
    }

    &:hover span:after {
      transform: scaleX(1);
    }

  }
}

// Mobile & Tablet
@include until($desktop) {

  .section-header {

    .navbar-menu {
      height: 0;
      display: block;
      box-shadow: none;
      overflow: hidden;
      padding: 0;

      & > .navbar-end {
        height: 100%;
        margin-top: 4rem;

        .navbar-item {
          text-align: center;
          top: 0px;

          span:after {
            display: none;
          }

          &.is-active, &:hover {
            background: transparent;
          }
        }

        .buttons {
          padding-top: 2rem;
          justify-content: center;
        }
      }
    }

    .navbar-menu.is-inactive {
      animation: navFoldMenuAnim .2s ease-in-out;
      animation-fill-mode: forwards;
      background-color: #242E3B;
    }

    .navbar-menu.is-active {
      animation: navUnFoldMenuAnim .2s ease-in-out;
      animation-fill-mode: forwards;
      background-color: #242E3B;
    }
  }

}

@keyframes navUnFoldMenuAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: calc(100vh - #{$navbar-height});
  }
}

@keyframes navFoldMenuAnim {
  0% {
    display: block !important;
    opacity: 1;
    height: calc(100vh - #{$navbar-height});
  }
  1% {
    display: block !important;
    opacity: 1;
  }
  100% {
    display: block !important;
    opacity: 0;
    height: 0;
  }
}
