.section-hero {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -#{$navbar-height};
    left: 0;
    width: 100%;
    height: calc(#{$navbar-height} + 60%);
    background: #6750d7;
    background: linear-gradient(57deg, #9d8fe5 0%, #6750d7 100%);
    transform-origin: 0;
    transform: skewY(-12deg);
  }

  .subtitle {
    margin-top: 2rem !important;
    line-height: 2.25rem;
    color: rgba(255, 255, 255, 0.8);

    strong, b {
      font-weight: bold;
      color: #fff;
    }
  }

  .column {
    padding-bottom: 0;
  }

  .hero {

    &-body {
      padding-top: 6rem;
      padding-bottom: 0rem;
    }

    &-buttons {
      margin-top: 3rem;
    }

    &-media {
      position: relative;
      margin-top: 4rem;
      background: #fff;
      border-radius: 4px 4px 0 0;
      line-height: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 16px 48px #E3E7EB;
        mix-blend-mode: multiply;
      }
    }

  }

}


// Mobile & Tablet
@include until($desktop) {

  .section-hero {
    &:before {
      height: calc(#{$navbar-height} + 80%);
    }
  }

}
