.section-simple-cta {
  padding: 3rem 0;
  background: linear-gradient(to right, #343942, #292d34);

  .title {
    font-family: "Muli",sans-serif;
    margin-bottom: 3rem;
  }

  .button {
    padding: calc(1.5em - 1px) 2rem;
    font-weight: 700;
  }

}
