{% extends 'parent' %}

{% block inner %}
  <p class="description">
    That is probably the cleanest way to build your own whole hosting cms platform. Thus, the Locomotive core keeps safe, you just have to add your own stuff.
  </p>

  <p class="step"><em>1.</em> First, create a Rails project.</p>
  <pre class="shell"><code class="shell">rails new my_platform -O -T -J<br/>cd my_platform<br/>rm public/index.html</code></pre>

  <p class="step"><em>2.</em> You have to tell your Rails app that you want to include the Locomotive gem available on Gemcutter. Edit your application Gemfile and add these lines if missing.</p>
  <!-- <pre class="ruby"><code class="ruby">gem 'rails', '3.0.3'<br/>gem 'locomotive_cms', :require =&gt; 'locomotive/engine'<br/>gem 'unicorn', :group => 'development'</code></pre> -->
  <pre class="ruby"><code class="ruby">gem 'rails', '3.0.3'<br/>gem 'locomotive_cms', :git =&gt; 'git://github.com/locomotivecms/engine.git', :require =&gt; 'locomotive/engine'<br/>gem 'unicorn', :group => 'development'</code></pre>

  <p class="step"><em>3.</em> Install gems</p>
  <pre class="shell"><code class="shell">bundle install</code></pre>

  <p class="step"><em>4.</em> Add the Locomotive config files and assets</p>
  <pre class="shell"><code class="shell">bundle exec rails g locomotive:install</code></pre>

  <p class="step"><em>5.</em> Edit the locomotive settings in order to match your main domain name for instance.</p>
  <pre class="shell"><code class="shell">mate config/initializers/locomotive.rb</code></pre>
  <p>Note: If you run Locomotive in local, do not forget to update your /etc/hosts file.</p>

  <p class="step"><em>6.</em> You also may want to change your mongodb connection settings</p>
  <pre class="shell"><code class="shell">mate config/mongoid.yml</code></pre>

  <p class="step"><em>7.</em> Run the application server</p>
  <pre class="shell"><code class="shell">bundle exec unicorn_rails</code></pre>

  <p class="step"><em>8.</em> Open your browser</p>
  <pre class="shell"><code class="shell">open http://localhost:8080/admin</code></pre>

  <p class="step"><em>9.</em> Follow the instructions in the browser to create your first account and site.</p>

  <p class="step"><em>10.</em> (<b>ONLY IN PRODUCTION</b>) Push the assets used by the Locomotive back-office to Amazon S3 for better performances (<a href="https://github.com/railsjedi/jammit-s3">Jammit-S3</a>).</p>
  <pre class="shell"><code class="shell">export S3_KEY_ID=&lt;your s3 key id&gt;<br/>export S3_SECRET_KEY=&lt;your s3 secret key&gt;<br/>export S3_BUCKET=&lt;your s3 bucket name&gt;</code></pre>
  <pre class="shell"><code class="shell">jammit-s3 --force</code></pre>
  <p>If you do not want to push the assets in S3 but leave them in your application instead, remove the lines about S3 in the <b>config/assets.yml</b> file and run the following command</p>
  <pre class="shell"><code class="shell">jammit --force</code></pre>

  <br/>
{% endblock %}