{% extends 'parent' %}

{% block page_inner %}

Basically, there are two ways to import a new site in Locomotive.</p>

<br/>

<p class="step"><em>1.</em> By using the Locomotive Admin section.</p>
<p>Log in to your Admin section and go to the <b>Settings > Site > Import</b> page. Then, upload your zip file.</p>

<p>
  <b>Notes :</b> In the case when you host your site in <em>Heroku</em> and <em>without DelayedJob</em>, there are a lot of chances that the import fails if your zip file is bigger than 500 ko. If that's the case, you should consider the second option.
</p>

<p class="step"><em>2.</em> From the Rails console.</p>

<p>Your zip file should be accessible from your server over the Internet, for example, stored in a FTP server or in Amazon S3.</p>

<p>Open your Rails console:</p>

<pre class="shell"><code class="shell">rails console</code></pre>

<p>Or in Heroku:</p>

<pre class="shell"><code class="shell">heroku console</code></pre>

<p>Run the following Ruby statement:</p>

<pre><code>site = Site.where(:name => "&lt;your site name&gt;") # or Site.find("&lt;your site id&gt;")<br/>
Locomotive::Import::Job.run!("&lt;the url of your zip file&gt;", site, { :samples => true, :reset => true })</code></pre>

{% endblock %}

