{% extends 'index' %}

{% block 'main' %}

{% include 'page_head' %}

#main-blog
  {% include 'sidebar' %}
  %article.full-article
    %header
      %h1 {{ article.title }}
      {{ article.posted_at | localized_date: '%A %d %B %Y' }}
    {{ article.body }}
    .bottom
      %span.meta
        Posted by {{ article.author }}
  
{% endblock %}