{% extends 'parent' %}

{% block page_inner %}

<p>The procedure has to be applied if you used the locomotive editor prior to the version 1.1.3.</p>

<p>
  The upgrade command turns your site template into one, compatible with the new locomotive editor. Basically, it takes the database.yml file and moves all the content_type declarations to their appropriate folders. Thus, the app/content_types folder stores the definitions of the content types into yml files. Data related to the content types are separated from the definitions and can be found in the data/ folder.</br>
Besides, the page and snippet templates are now under the app/views folder.</br>
Finally, the database.yml file moves to the config/ folder.
</p>

<p><b>Note:</b> we keep track of the old database.yml. We just rename it in config/database_archived.yml</p>


<p class="step"><em>1.</em> Make a copy of your site before going further</p>

<p class="step"><em>2.</em> Download the lastest gem</p>

<pre class="shell"><code class="shell">gem update locomotive_editor</code></pre>

<p class="step"><em>3.</em> Cd to your sites folder</p>

<p><b>Note:</b> if your site templates are not located under a common folder, go to the parent folder instead.</p>

<p class="step"><em>4.</em> Run the following command</p>

<pre class="shell"><code class="shell">locomotive upgrade --name=&lt;your site name&gt;</code></pre>

{% endblock %}