// =============================================================================
// Carousel
// =============================================================================

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .item {
    position: relative;
    display: none;
    text-align: center;
    transform: perspective(1000px);
    transition: all .6s ease-in-out;
    backface-visibility: hidden;

    &.next,
    &.active.right {
      left: 0;
      transform: translate3d(100%, 0, 0);
    }
    &.prev,
    &.active.left {
      left: 0;
      transform: translate3d(-100%, 0, 0);
    }
    &.next.left,
    &.prev.right,
    &.active {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  > .active,
  > .next,
  > .prev {
    display: table;
    width: 100%;
    height: 350px;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }
}

.carousel-indicators {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    cursor: pointer;
    background: rgba($white, .2);
    border-radius: 50%;
  }
  .active {
    background-color: rgba($white, .8);
  }
}
