// Form wrapper in sidebar
#sidebar-newsletter
  padding-bottom: 30px
  .email
    width: 70%
    line-height: 25px
    border-width: 1px
    +border-radius(4px)
    
  .submit
    height: 30px
    border: 0
    cursor: pointer
    +submit-button
    width: auto