// =============================================================================
// Headers
// =============================================================================

header {
  display: block;
  text-align: center;
  background-size: cover !important;
}

.header-content {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  padding: 150px 0 325px;
  text-align: center;
  h1 {
    color: $white;
  }
  p {
    display: block;
    max-width: 600px;
    margin: 20px auto 50px;
    font-size: 18px;
    color: rgba($white, .8);
  }
}

.header-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: rgba($white, .4);
  &:hover {
    color: $white;
  }
}
