// =============================================================================
// Modals
// =============================================================================

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
  overflow: hidden;
  outline: 0;
  &.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform .3s ease-out;
  }
  &.in .modal-dialog {
    transform: translate(0, 0);
  }
}

.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal-dialog {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;

  &.modal-lg {
    max-width: 700px;
  }
}

.modal-content {
  position: relative;
  max-height: 800px;
  padding: 50px;
  overflow: auto;
  background-color: $white;
  border-radius: $base-border-radius;
  outline: 0;
  box-shadow: 0 3px 9px rgba($gray-darkest, .5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99990;
  background-color: $gray-darkest;
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: .7;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $gray-light;
  background: transparent;
  border: 0;
  transition: color $base-transition-speed linear;
  &:hover {
    color: $gray-darkest;
  }
}

.modal-title {
  display: block;
  margin-bottom: 35px;
  color: $gray-darker;
  text-align: center;
}

.modal-footer {
  display: block;
  padding-top: 25px;
  text-align: center;
  .button {
    margin: 0 5px;
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .modal-content {
    padding: 50px 20px;
  }
}

@include breakpoint(extra-small) {
  .modal-footer .button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
