// =============================================================================
// Testimonials
// =============================================================================

.testimonial {
  display: inline-block;
  max-width: 450px;
  margin: 0 auto;
}

.testimonial-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.testimonial-box {
  position: relative;
  display: block;
  padding: 40px;
  font-size: 15px;
  color: $gray-darker;
  text-align: left;
  background: $white;
  border-radius: $base-border-radius;
  &::after {
    position: absolute;
    top: 100%;
    left: 42.5px;
    width: 0;
    height: 0;
    margin-left: -10px;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba($white, 0);
    border-top-color: $white;
    border-width: 10px;
    content: " ";
  }
}

.testimonial-person {
  display: block;
  margin: 20px 0 0 20px;
  color: rgba($white, .6);
  text-align: left;
  img {
    display: inline-block;
    width: 45px;
    vertical-align: middle;
    border-radius: 50%;
  }
  strong {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    color: $white;
    vertical-align: middle;
    span {
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.testimonial-video {
  margin: 50px 0;
}

.testimonial-info {
  display: block;
  margin: 50px 0;
  h3 {
    display: block;
    margin-bottom: 5px;
    color: $gray-dark;
    label {
      display: inline-block;
      padding: 1px 10px;
      margin-left: 10px;
      font-size: 10px;
      color: $white;
      text-transform: uppercase;
      vertical-align: middle;
      background: linear-gradient(to bottom right, rgba(lighten($brand-purple, 10), .7), rgba(darken($brand-purple, 5), .7));
      border-radius: $base-border-radius;
    }
  }
  h6 {
    color: $gray;
  }
  p {
    display: block;
    margin: 25px 0;
  }
}

.testomonial-transcript h3 {
  margin-bottom: 25px;
}

.testimonial-link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  i {
    display: inline-block;
    margin-top: -2.5px;
    margin-left: 5px;
    vertical-align: middle;
  }
  &.is-left i {
    margin-right: 5px;
  }
}

.testimonial-read {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 12px;
  color: $gray;
  text-transform: uppercase;
  i {
    display: inline-block;
    margin: -2px 0 0 3px;
    font-size: 16px;
    vertical-align: middle;
  }
}
