// =============================================================================
// Videos
// =============================================================================

.video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  text-align: center;
  border-radius: $base-border-radius;
  iframe,
  .video-iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  text-align: center;
  border-radius: $base-border-radius;
}

.video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: linear-gradient(to bottom right, rgba(lighten($brand-purple, 10), .7), rgba(darken($brand-purple, 5), .7));
  border-radius: $base-border-radius;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -21px;
    font-size: 50px;
    color: rgba($white, .8);
    transition: color $base-transition-speed linear;
  }
  &:hover i {
    color: $white;
  }
}
