// General
$family-sans-serif: "Noto Sans", sans-serif;
$body-size: 13px;

// Colors
// $primary: $dark-blue;
// $warning: $brown-orange;
$link: #1B79C6;
$brand-purple: #7965dc;

// Navbar
$navbar-background-color: transparent;
$navbar-height: 5.25rem !default;
$navbar-item-color: rgba(255, 255, 255, 0.8);
$navbar-item-hover-color: #fff;
$navbar-item-img-max-height: 1.25rem;

// Button
$button-border-width: 1px;
$button-padding-horizontal: 1rem;

// Footer
$footer-background-color: #fff;

