.button {
  text-transform: uppercase;
  border-radius: 2px;

  &.has-shadow {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 8px 24px rgba(32,43,54,0.12);
      mix-blend-mode: multiply;
      transition: box-shadow .15s ease;
    }

    &:hover:before {
      box-shadow: 0 8px 24px rgba(32,43,54,0.25);
    }
  }

  &.is-slick {
    font-weight: 700;
    letter-spacing: -.05em;
    padding: calc(1.5em - 1px) 2rem;
  }
}
