main {
}

.is-vcentered {
  display: flex;
  align-items: center;
}

.has-top-divider {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #E3E7EB;
    background: linear-gradient(to right, rgba(227,231,235,0.1) 0, rgba(227,231,235,0.6) 50%, rgba(227,231,235,0.1) 100%);
  }
}
