{% extends parent %}

{% block page_wrapper_class %}{{ block.super }} sidebar{% endblock %}

{% block page_sidebar %}
<div class="sidebar">
  {% if page.depth == 2 %}
  {% nav page, id: 'sidebar-nav' %}
  {% else %}
  {% nav parent, id: 'sidebar-nav' %}
  {% endif %}
</div>
{% endblock %}

{% block page_inner %}



<p>Locomotive runs on my different platforms, but it's optimized for the <a href="http://bushi.do">Bushido</a> hosting platform. Bushido enables Locomotive to set subdomains and custom domains directly, launch with built-in email accounts, and provides highly reliable hosting, all with a <a href='http://bushi.do/apps/new?envs=&#123;"BUSHIDO_METRICS_TOKEN": "3c247258174b97e8ba60d19835def5cd"&#125;&repo=https://github.com/locomotivecms/engine.git' title='host now'>single click.</a></p>

<p>
  We suggest you to start to read the <a href="/support/installation/requirements">requirements</a> section. Then choose one of the installation methods.<br/> If you want to test Locomotive and sneak into the code, we recommend you the <a href="/support/installation/source">from source</a> installation.
</p>

<p>
  Let us know if you have any <a href="http://locomotive.vanillaforums.com/categories/requested-features">suggestions</a> or if you find <a href="http://locomotive.vanillaforums.com/categories/problems">bugs</a>.
</p>
{% endblock %}

